<ng-template #PricingPlanComponent>

  <section id="pricing" class="pricing">
    <div class="container">
      <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1>App Pricing</h1>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 wow zoomIn">
          <ul class="pricing-plan list-unstyled">
            <li class="pricing-title">
              Basic
            </li>
            <li class="pricing-desc">
              Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
            </li>
            <li class="pricing-price">
              <span>$16</span> / month
            </li>
            <li>
              Dashboards
            </li>
            <li>
              Projects view
            </li>
            <li>
              Contacts
            </li>
            <li>
              Calendar
            </li>
            <li>
              AngularJs
            </li>
            <li>
              <a class="btn btn-primary btn-xs" href="#">Signup</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 wow zoomIn">
          <ul class="pricing-plan list-unstyled selected">
            <li class="pricing-title">
              Standard
            </li>
            <li class="pricing-desc">
              Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
            </li>
            <li class="pricing-price">
              <span>$22</span> / month
            </li>
            <li>
              Dashboards
            </li>
            <li>
              Projects view
            </li>
            <li>
              Contacts
            </li>
            <li>
              Calendar
            </li>
            <li>
              AngularJs
            </li>
            <li>
              <strong>Support platform</strong>
            </li>
            <li class="plan-action">
              <a class="btn btn-primary btn-xs" href="#">Signup</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 wow zoomIn">
          <ul class="pricing-plan list-unstyled">
            <li class="pricing-title">
              Premium
            </li>
            <li class="pricing-desc">
              Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
            </li>
            <li class="pricing-price">
              <span>$160</span> / month
            </li>
            <li>
              Dashboards
            </li>
            <li>
              Projects view
            </li>
            <li>
              Contacts
            </li>
            <li>
              Calendar
            </li>
            <li>
              AngularJs
            </li>
            <li>
              <a class="btn btn-primary btn-xs" href="#">Signup</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row m-t-lg">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
          <p>*Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. <span class="navy">Various versions</span>  have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
      </div>
    </div>

  </section>
</ng-template>
