<ng-template #FeatureNavyComponent>

  <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1>More and more extra great feautres</h1>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 features-text">
          <small>INSPINIA</small>
          <h2>Perfectly designed </h2>
          <i class="fa fa-bar-chart big-icon pull-right"></i>
          <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
        </div>
        <div class="col-lg-5 features-text">
          <small>INSPINIA</small>
          <h2>Perfectly designed </h2>
          <i class="fa fa-bolt big-icon pull-right"></i>
          <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 features-text">
          <small>INSPINIA</small>
          <h2>Perfectly designed </h2>
          <i class="fa fa-clock-o big-icon pull-right"></i>
          <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
        </div>
        <div class="col-lg-5 features-text">
          <small>INSPINIA</small>
          <h2>Perfectly designed </h2>
          <i class="fa fa-users big-icon pull-right"></i>
          <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
        </div>
      </div>
    </div>

  </section>
</ng-template>
