<ng-template #BannerProductsPromotionComponent>

  <div class="col-md-8 nopadding">

    <div class="col-md-6 noleftpadding bottommargin-sm">
      <a href="#"><img src="{{templatePath}}/images/shop/banners/2.jpg" alt="Image"></a>
    </div>

    <div class="col-md-6 noleftpadding bottommargin-sm">
      <a href="#"><img src="{{templatePath}}/images/shop/banners/8.jpg" alt="Image"></a>
    </div>

    <div class="clear"></div>

    <div class="col-md-12 noleftpadding">
      <a href="#"><img src="{{templatePath}}/images/shop/banners/4.jpg" alt="Image"></a>
    </div>

  </div>

  <div class="col-md-4 nopadding">
    <a href="#"><img src="{{templatePath}}/images/shop/banners/9.jpg" alt="Image"></a>
  </div>

</ng-template>
