<ng-template #WidgetSocialIconsDarkComponent>
  <div class="fright clearfix">
    <a href="#" class="social-icon si-small si-borderless si-facebook">
      <i class="icon-facebook"></i>
      <i class="icon-facebook"></i>
    </a>

    <a href="#" class="social-icon si-small si-borderless si-twitter">
      <i class="icon-twitter"></i>
      <i class="icon-twitter"></i>
    </a>

    <a href="#" class="social-icon si-small si-borderless si-gplus">
      <i class="icon-gplus"></i>
      <i class="icon-gplus"></i>
    </a>

    <a href="#" class="social-icon si-small si-borderless si-pinterest">
      <i class="icon-pinterest"></i>
      <i class="icon-pinterest"></i>
    </a>

    <a href="#" class="social-icon si-small si-borderless si-vimeo">
      <i class="icon-vimeo"></i>
      <i class="icon-vimeo"></i>
    </a>

    <a href="#" class="social-icon si-small si-borderless si-github">
      <i class="icon-github"></i>
      <i class="icon-github"></i>
    </a>

    <a href="#" class="social-icon si-small si-borderless si-yahoo">
      <i class="icon-yahoo"></i>
      <i class="icon-yahoo"></i>
    </a>

    <a href="#" class="social-icon si-small si-borderless si-linkedin">
      <i class="icon-linkedin"></i>
      <i class="icon-linkedin"></i>
    </a>
  </div>
</ng-template>
