<ng-template #WidgetPopularItemsComponent>
  <div class="widget clearfix">

    <h4>Popular Items</h4>
    <div id="Popular-item">
      <div class="spost clearfix">
        <div class="entry-image">
          <a href="#"><img src="/assets/canvas/images/shop/small/8.jpg" alt="Image"></a>
        </div>
        <div class="entry-c">
          <div class="entry-title">
            <h4><a href="#">Pink Printed Dress</a></h4>
          </div>
          <ul class="entry-meta">
            <li class="color">$21</li>
            <li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li>
          </ul>
        </div>
      </div>

      <div class="spost clearfix">
        <div class="entry-image">
          <a href="#"><img src="/assets/canvas/images/shop/small/5.jpg" alt="Image"></a>
        </div>
        <div class="entry-c">
          <div class="entry-title">
            <h4><a href="#">Blue Round-Neck Tshirt</a></h4>
          </div>
          <ul class="entry-meta">
            <li class="color">$19.99</li>
            <li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
          </ul>
        </div>
      </div>

      <div class="spost clearfix">
        <div class="entry-image">
          <a href="#"><img src="/assets/canvas/images/shop/small/12.jpg" alt="Image"></a>
        </div>
        <div class="entry-c">
          <div class="entry-title">
            <h4><a href="#">Men Aviator Sunglasses</a></h4>
          </div>
          <ul class="entry-meta">
            <li class="color">$14.99</li>
            <li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</ng-template>
