<app-header></app-header>

<!-- Content
        ============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="heading-block center nobottomborder">
        <h1>Site is Under Maintenance</h1>
        <span>Please check back in sometime.</span>
      </div>

      <div class="col_one_third topmargin">
        <div class="feature-box fbox-center fbox-light fbox-plain">
          <div class="fbox-icon">
            <a href="#"><i class="icon-warning-sign"></i></a>
          </div>
          <h3>Why is the Site Down?</h3>
          <p>The site is under maintenance probably because we are working to improve this website drastically.</p>
        </div>
      </div>

      <div class="col_one_third topmargin">
        <div class="feature-box fbox-center fbox-light fbox-plain">
          <div class="fbox-icon">
            <a href="#"><i class="icon-time"></i></a>
          </div>
          <h3>What is the Downtime?</h3>
          <p>We are usually back within 10-15 minutes but it definitely depends on the issue.</p>
        </div>
      </div>

      <div class="col_one_third topmargin col_last">
        <div class="feature-box fbox-center fbox-light fbox-plain">
          <div class="fbox-icon">
            <a href="#"><i class="icon-email3"></i></a>
          </div>
          <h3>Do you need Support?</h3>
          <p>You may simply send us an Email at <a href="mailto:info@canvas.com">info@canvas.com</a> if you need urgent support.</p>
        </div>
      </div>

    </div>

  </div>

</section><!-- #content end -->
