<ng-template #ShopWarrantiesComponent>
  <div class="section nobottommargin">
    <div class="container clearfix">

      <div class="col_one_fourth nobottommargin">
        <div class="feature-box fbox-plain fbox-dark fbox-small">
          <div class="fbox-icon">
            <i class="icon-thumbs-up2"></i>
          </div>
          <h3>100% Original</h3>
          <p class="notopmargin">We guarantee you the sale of Original Brands.</p>
        </div>
      </div>

      <div class="col_one_fourth nobottommargin">
        <div class="feature-box fbox-plain fbox-dark fbox-small">
          <div class="fbox-icon">
            <i class="icon-credit-cards"></i>
          </div>
          <h3>Payment Options</h3>
          <p class="notopmargin">We accept Visa, MasterCard and American Express.</p>
        </div>
      </div>

      <div class="col_one_fourth nobottommargin">
        <div class="feature-box fbox-plain fbox-dark fbox-small">
          <div class="fbox-icon">
            <i class="icon-truck2"></i>
          </div>
          <h3>Free Shipping</h3>
          <p class="notopmargin">Free Delivery to 100+ Locations on orders above $40.</p>
        </div>
      </div>

      <div class="col_one_fourth nobottommargin col_last">
        <div class="feature-box fbox-plain fbox-dark fbox-small">
          <div class="fbox-icon">
            <i class="icon-undo"></i>
          </div>
          <h3>30-Days Returns</h3>
          <p class="notopmargin">Return or exchange items purchased within 30 days.</p>
        </div>
      </div>

    </div>
  </div>
</ng-template>
