
<ng-template #VenderLogoComponent>
  <!-- Logo
    ============================================= -->
  <div id="logo">
    <a href="index.html" class="standard-logo" data-dark-logo="/assets/canvas/images/logo-dark.png"><img src="/assets/canvas/images/logo.png" alt="Canvas Logo" class="divcenter"></a>
    <a href="index.html" class="retina-logo" data-dark-logo="/assets/canvas/images/logo-dark@2x.png"><img src="/assets/canvas/images/logo@2x.png" alt="Canvas Logo"></a>
  </div>
  <!-- #logo end -->
</ng-template>
