<ng-template #TopSearchComponent>
  <!-- Top Search
============================================= -->
  <div id="top-search">
    <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
    <form action="search.html" method="get">
      <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
    </form>
  </div><!-- #top-search end -->

</ng-template>
