<ng-template #SidebarShopLeftComponent>
  <!-- Sidebar
              ============================================= -->
  <div class="sidebar nobottommargin clearfix">

    <div class="sidebar-widgets-wrap">

      <app-widget-twitter-feed></app-widget-twitter-feed>

      <app-widget-flickr></app-widget-flickr>

      <app-widget-tab-popular-recent></app-widget-tab-popular-recent>

      <app-widget-portfolio-slider></app-widget-portfolio-slider>

      <app-widget-tag-cloud></app-widget-tag-cloud>

    </div>

  </div><!-- .sidebar end -->
</ng-template>
