<ng-template #ContactInfoComponent>
  <!-- Contact Info
      ============================================= -->
  <div class="row clear-bottommargin">

    <div class="col-md-3 col-sm-6 bottommargin clearfix">
      <div class="feature-box fbox-center fbox-bg fbox-plain">
        <div class="fbox-icon">
          <a href="#"><i class="icon-map-marker2"></i></a>
        </div>
        <h3>Our Headquarters<span class="subtitle">Melbourne, Australia</span></h3>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 bottommargin clearfix">
      <div class="feature-box fbox-center fbox-bg fbox-plain">
        <div class="fbox-icon">
          <a href="#"><i class="icon-phone3"></i></a>
        </div>
        <h3>Speak to Us<span class="subtitle">(123) 456 7890</span></h3>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 bottommargin clearfix">
      <div class="feature-box fbox-center fbox-bg fbox-plain">
        <div class="fbox-icon">
          <a href="#"><i class="icon-skype2"></i></a>
        </div>
        <h3>Make a Video Call<span class="subtitle">CanvasOnSkype</span></h3>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 bottommargin clearfix">
      <div class="feature-box fbox-center fbox-bg fbox-plain">
        <div class="fbox-icon">
          <a href="#"><i class="icon-twitter2"></i></a>
        </div>
        <h3>Follow on Twitter<span class="subtitle">2.3M Followers</span></h3>
      </div>
    </div>

  </div><!-- Contact Info End -->

</ng-template>
