<div id="wrapper">

  <app-sidebar-left></app-sidebar-left>

  <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
      <app-navbar-one></app-navbar-one>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
        <h2>Issue list</h2>
        <ol class="breadcrumb">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a>App views</a>
          </li>
          <li class="active">
            <strong>Issue list</strong>
          </li>
        </ol>
      </div>
      <div class="col-lg-2">

      </div>
    </div>

    <div class="wrapper wrapper-content  animated fadeInRight">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox">
            <div class="ibox-title">
              <h5>Issue list</h5>
              <div class="ibox-tools">
                <a href="" class="btn btn-primary btn-xs">Add new issue</a>
              </div>
            </div>
            <div class="ibox-content">

              <div class="m-b-lg">

                <div class="input-group">
                  <input type="text" placeholder="Search issue by name..." class=" form-control">
                  <span class="input-group-btn">
                                        <button type="button" class="btn btn-white"> Search</button>
                                    </span>
                </div>
                <div class="m-t-md">

                  <div class="pull-right">
                    <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-comments"></i> </button>
                    <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-user"></i> </button>
                    <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-list"></i> </button>
                    <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-pencil"></i> </button>
                    <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-print"></i> </button>
                    <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-cogs"></i> </button>
                  </div>

                  <strong>Found 61 issues.</strong>



                </div>

              </div>

              <div class="table-responsive">
                <table class="table table-hover issue-tracker">
                  <tbody>
                  <tr>
                    <td>
                      <span class="label label-primary">Added</span>
                    </td>
                    <td class="issue-info">
                      <a href="#">
                        ISSUE-23
                      </a>

                      <small>
                        This is issue with the coresponding note
                      </small>
                    </td>
                    <td>
                      Adrian Novak
                    </td>
                    <td>
                      12.02.2015 10:00 am
                    </td>
                    <td>
                      <span class="pie">0.52,1.041</span>
                      2d
                    </td>
                    <td class="text-right">
                      <button class="btn btn-white btn-xs"> Tag</button>
                      <button class="btn btn-white btn-xs"> Mag</button>
                      <button class="btn btn-white btn-xs"> Rag</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="label label-primary">Added</span>
                    </td>
                    <td class="issue-info">
                      <a href="#">
                        ISSUE-17
                      </a>

                      <small>
                        Desktop publishing packages and web page editors now use Lorem Ipsum as their default model text
                      </small>
                    </td>
                    <td>
                      Anna Smith
                    </td>
                    <td>
                      10.02.2015 05:32 am
                    </td>
                    <td>
                      <span class="pie">3,2</span>
                      2d
                    </td>
                    <td class="text-right">
                      <button class="btn btn-white btn-xs"> Tag</button>
                      <button class="btn btn-white btn-xs"> Rag</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="label label-primary">Added</span>
                    </td>
                    <td class="issue-info">
                      <a href="#">
                        ISSUE-12
                      </a>

                      <small>
                        It is a long established fact that a reader will be
                      </small>
                    </td>
                    <td>
                      Anthony Jackson
                    </td>
                    <td>
                      02.03.2015 06:02 am
                    </td>
                    <td>
                      <span class="pie">1,2</span>
                      1d
                    </td>
                    <td class="text-right">
                      <button class="btn btn-white btn-xs"> Tag</button>
                      <button class="btn btn-white btn-xs"> Mag</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="label label-primary">Added</span>
                    </td>
                    <td class="issue-info">
                      <a href="#">
                        ISSUE-11
                      </a>

                      <small>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                      </small>
                    </td>
                    <td>
                      Monica Proven
                    </td>
                    <td>
                      01.10.2015 11:02 pm
                    </td>
                    <td>
                      <span class="pie">4,2</span>
                      3d
                    </td>
                    <td class="text-right">
                      <button class="btn btn-white btn-xs"> Tag</button>
                      <button class="btn btn-white btn-xs"> Rag</button>
                      <button class="btn btn-white btn-xs"> Dag</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="label label-warning">Fixed</span>
                    </td>
                    <td class="issue-info">
                      <a href="#">
                        ISSUE-07
                      </a>

                      <small>
                        Always free from repetition, injected humour, or non-characteristic words etc.
                      </small>
                    </td>
                    <td>
                      Alex Ferguson
                    </td>
                    <td>
                      28.11.2015 05:10 pm
                    </td>
                    <td>
                      <span class="pie">1,2</span>
                      2d
                    </td>
                    <td class="text-right">
                      <button class="btn btn-white btn-xs"> Tag</button>
                      <button class="btn btn-white btn-xs"> Dag</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="label label-warning">Fixed</span>
                    </td>
                    <td class="issue-info">
                      <a href="#">
                        ISSUE-07
                      </a>

                      <small>
                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit am
                      </small>
                    </td>
                    <td>
                      Mark Conor
                    </td>
                    <td>
                      18.09.2015 06:20 pm
                    </td>
                    <td>
                      <span class="pie">3,2</span>
                      3d
                    </td>
                    <td class="text-right">
                      <button class="btn btn-white btn-xs"> Tag</button>
                      <button class="btn btn-white btn-xs"> Mag</button>
                      <button class="btn btn-white btn-xs"> Dag</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="label label-warning">Fixed</span>
                    </td>
                    <td class="issue-info">
                      <a href="#">
                        ISSUE-06
                      </a>

                      <small>
                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit am
                      </small>
                    </td>
                    <td>
                      Carol Jackson
                    </td>
                    <td>
                      11.03.2015 07:30 pm
                    </td>
                    <td>
                      <span class="pie">3,2</span>
                      2d
                    </td>
                    <td class="text-right">
                      <button class="btn btn-white btn-xs"> Mag</button>
                      <button class="btn btn-white btn-xs"> Dag</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="label label-warning">Fixed</span>
                    </td>
                    <td class="issue-info">
                      <a href="#">
                        ISSUE-05
                      </a>

                      <small>
                        Content here, content here', making it look like readable English. Many desktop
                      </small>
                    </td>
                    <td>
                      Carol Jackson
                    </td>
                    <td>
                      05.04.2015 08:40 pm
                    </td>
                    <td>
                      <span class="pie">3,2</span>
                      2d
                    </td>
                    <td class="text-right">
                      <button class="btn btn-white btn-xs"> Mag</button>
                      <button class="btn btn-white btn-xs"> Dag</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="label label-warning">Fixed</span>
                    </td>
                    <td class="issue-info">
                      <a href="#">
                        ISSUE-04
                      </a>

                      <small>
                        Virginia, looked up one of the more obscure Latin words, consectetur
                      </small>
                    </td>
                    <td>
                      Monica Smith
                    </td>
                    <td>
                      10.06.2014 08:10 pm
                    </td>
                    <td>
                      <span class="pie">5,7</span>
                      4d
                    </td>
                    <td class="text-right">
                      <button class="btn btn-white btn-xs"> Mag</button>
                      <button class="btn btn-white btn-xs"> Cag</button>
                      <button class="btn btn-white btn-xs"> Dag</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="label label-warning">Fixed</span>
                    </td>
                    <td class="issue-info">
                      <a href="#">
                        ISSUE-03
                      </a>

                      <small>
                        Injected humour, or randomised words which don't l
                      </small>
                    </td>
                    <td>
                      Anna Johnson
                    </td>
                    <td>
                      13.05.2014 09:20 pm
                    </td>
                    <td>
                      <span class="pie">2,7</span>
                      3d
                    </td>
                    <td class="text-right">
                      <button class="btn btn-white btn-xs"> Cag</button>
                      <button class="btn btn-white btn-xs"> Dag</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="label label-danger">Bug</span>
                    </td>
                    <td class="issue-info">
                      <a href="#">
                        ISSUE-44
                      </a>

                      <small>
                        This is issue with the coresponding note
                      </small>
                    </td>
                    <td>
                      Adrian Novak
                    </td>
                    <td>
                      12.02.2015 10:00 am
                    </td>
                    <td>
                      <span class="pie">0.52,1.041</span>
                      2d
                    </td>
                    <td class="text-right">
                      <button class="btn btn-white btn-xs"> Tag</button>
                      <button class="btn btn-white btn-xs"> Mag</button>
                      <button class="btn btn-white btn-xs"> Rag</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="label label-danger">Bug</span>
                    </td>
                    <td class="issue-info">
                      <a href="#">
                        ISSUE-41
                      </a>

                      <small>
                        Desktop publishing packages and web page editors now use Lorem Ipsum as their default model text
                      </small>
                    </td>
                    <td>
                      Anna Smith
                    </td>
                    <td>
                      10.02.2015 05:32 am
                    </td>
                    <td>
                      <span class="pie">3,2</span>
                      2d
                    </td>
                    <td class="text-right">
                      <button class="btn btn-white btn-xs"> Tag</button>
                      <button class="btn btn-white btn-xs"> Rag</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="label label-danger">Bug</span>
                    </td>
                    <td class="issue-info">
                      <a href="#">
                        ISSUE-34
                      </a>

                      <small>
                        It is a long established fact that a reader will be
                      </small>
                    </td>
                    <td>
                      Anthony Jackson
                    </td>
                    <td>
                      02.03.2015 06:02 am
                    </td>
                    <td>
                      <span class="pie">1,2</span>
                      1d
                    </td>
                    <td class="text-right">
                      <button class="btn btn-white btn-xs"> Tag</button>
                      <button class="btn btn-white btn-xs"> Mag</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="label label-danger">Bug</span>
                    </td>
                    <td class="issue-info">
                      <a href="#">
                        ISSUE-46
                      </a>

                      <small>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                      </small>
                    </td>
                    <td>
                      Monica Proven
                    </td>
                    <td>
                      01.10.2015 11:02 pm
                    </td>
                    <td>
                      <span class="pie">4,2</span>
                      3d
                    </td>
                    <td class="text-right">
                      <button class="btn btn-white btn-xs"> Tag</button>
                      <button class="btn btn-white btn-xs"> Rag</button>
                      <button class="btn btn-white btn-xs"> Dag</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="label label-danger">Bug</span>
                    </td>
                    <td class="issue-info">
                      <a href="#">
                        ISSUE-51
                      </a>

                      <small>
                        Always free from repetition, injected humour, or non-characteristic words etc.
                      </small>
                    </td>
                    <td>
                      Alex Ferguson
                    </td>
                    <td>
                      28.11.2015 05:10 pm
                    </td>
                    <td>
                      <span class="pie">1,2</span>
                      2d
                    </td>
                    <td class="text-right">
                      <button class="btn btn-white btn-xs"> Tag</button>
                      <button class="btn btn-white btn-xs"> Dag</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="label label-danger">Bug</span>
                    </td>
                    <td class="issue-info">
                      <a href="#">
                        ISSUE-52
                      </a>

                      <small>
                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit am
                      </small>
                    </td>
                    <td>
                      Mark Conor
                    </td>
                    <td>
                      18.09.2015 06:20 pm
                    </td>
                    <td>
                      <span class="pie">3,2</span>
                      3d
                    </td>
                    <td class="text-right">
                      <button class="btn btn-white btn-xs"> Tag</button>
                      <button class="btn btn-white btn-xs"> Mag</button>
                      <button class="btn btn-white btn-xs"> Dag</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>


    </div>
    <app-footer-one></app-footer-one>
  </div>
</div>
