<%- include('structure/_header') %>

<nav class="navbar navbar-dark bg-dark mb-4">
    <a href="/" class="navbar-brand"> CRUD</a>
</nav>
<div class="container">
        <h1><%= title%></h1>
        <hr>
        <div class="text-center">
            <h1><span class="fa fa-lock"></span>Node Authentication</h1>

            <p>Login or Register with:</p>

            <a href="/es-auths/login" class="btn btn-default"><span class="fa fa-user"></span>Local Login</a>
            <a href="/es-auths/signup" class="btn btn-default"><span class="fa fa-user"></span>Local Signup</a>
            <a href="/es-auths/facebook" class="btn btn-default"><span class="fa fa-user"></span>Facebook</a>

        </div>
    </div>
<%- include('structure/_footer') %>
