<%- include('structure/_header') %>

<nav class="navbar navbar-dark bg-dark mb-4">
    <a href="/" class="navbar-brand"> CRUD</a>
</nav>
<div class="container">
    <h1><span class="fa fa-sign-in"></span><%= title%></h1>

    <!-- show any messages that come back with authenticationn -->
    <% if(message.length > 0) { %>
       <div class="alert alert-danger"> <%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/es-auths/login" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="usr_username">
        </div>
        <div class="form-group">
            <label for="email">Password</label>
            <input type="password" class="form-control" name="usr_password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>

    <hr>

    <p>Need an account? <a href="/es-auths/signup">Signup</a></p>
    <p>Or go <a href="/es-auths/">home</a>.</p>

</div>
<%- include('structure/_footer') %>
