<%- include('structure/_header') %>

<nav class="navbar navbar-dark bg-dark mb-4">
    <a href="/" class="navbar-brand"> CRUD</a>
</nav>
<div class="container">
        <h1><%= title%></h1>
        <hr>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Salary</th>
            </tr>
            </thead>
            <tbody>
                <% persons.forEach(person => { %>
                    <tr>
                        <td><%= person.id %></td>
                        <td><%= person.emp_name %></td>
                        <td><%= person.emp_position %></td>
                        <td><%= person.emp_office %></td>
                        <td><%= person.emp_salary %></td>
                    </tr>
                <%}) %>
            </tbody>
        </table>
    </div>
<%- include('structure/_footer') %>
