<%- include('structure/_header') %>

<nav class="navbar navbar-dark bg-dark mb-4">
    <a href="/" class="navbar-brand"> CRUD</a>
</nav>
<div class="container">
        <h1><%= title%></h1>
        <hr>
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
            <a href="/es-auths/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span>Local</h3>

                <p>
                    <strong>id</strong>: <%= esUser.usr_id %>
                    <strong>username</strong>: <%= esUser.usr_username %>
                    <strong>password</strong>: <%= esUser.usr_password %>
                </p>
            </div>
        </div>

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span>Facebook</h3>

                <p>
                    <strong>id</strong>: <%= esUser.usr_id %>
                    <strong>email</strong>: <%= esUser.usr_token %>
                    <strong>token</strong>: <%= esUser.usr_mail %>
                    <strong>name</strong>: <%= esUser.usr_name %>
                </p>
            </div>
        </div>
    </div>
</div>
<%- include('structure/_footer') %>
