<app-header-one></app-header-one>

<app-slide-parallax-corporate></app-slide-parallax-corporate>

<!-- Content
    ============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="promo promo-light promo-full bottommargin-lg header-stick notopborder">
      <div class="container clearfix">
        <h3>Call us today at <span>+91.22.57412541</span> or Email us at <span>support@canvas.com</span></h3>
        <span>We strive to provide Our Customers with Top Notch Support to make their Theme Experience Wonderful</span>
        <a href="#" class="button button-dark button-xlarge button-rounded">Start Browsing</a>
      </div>
    </div>

    <div class="container clearfix">

      <div class="col_one_fourth nobottommargin">
        <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
          <div class="fbox-icon">
            <a href="#"><i class="i-alt noborder icon-shop"></i></a>
          </div>
          <h3>e-Commerce Solutions<span class="subtitle">Start your Own Shop today</span></h3>
        </div>
      </div>

      <div class="col_one_fourth nobottommargin">
        <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
          <div class="fbox-icon">
            <a href="#"><i class="i-alt noborder icon-wallet"></i></a>
          </div>
          <h3>Easy Payment Options<span class="subtitle">Credit Cards &amp; PayPal Support</span></h3>
        </div>
      </div>

      <div class="col_one_fourth nobottommargin">
        <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
          <div class="fbox-icon">
            <a href="#"><i class="i-alt noborder icon-megaphone"></i></a>
          </div>
          <h3>Instant Notifications<span class="subtitle">Realtime Email &amp; SMS Support</span></h3>
        </div>
      </div>

      <div class="col_one_fourth nobottommargin col_last">
        <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
          <div class="fbox-icon">
            <a href="#"><i class="i-alt noborder icon-fire"></i></a>
          </div>
          <h3>Hot Offers Daily<span class="subtitle">Upto 50% Discounts</span></h3>
        </div>
      </div>

      <div class="clear"></div>
      <div class="line bottommargin-lg"></div>

      <div class="col_two_fifth nobottommargin">
        <a href="http://vimeo.com/101373765" data-lightbox="iframe">
          <img src="/assets/canvas/images/others/1.jpg" alt="Image">
          <span class="i-overlay"><img src="/assets/canvas/images/icons/play.png" alt="Play"></span>
        </a>
      </div>

      <div class="col_three_fifth nobottommargin col_last">

        <div class="heading-block">
          <h2>Globally Preferred Ecommerce Platform</h2>
        </div>

        <p>Worldwide John Lennon, mobilize humanitarian; emergency response donors; cause human experience effect.
          Volunteer Action Against Hunger Aga Khan safeguards women's.</p>

        <div class="col_half nobottommargin">
          <ul class="iconlist iconlist-color nobottommargin">
            <li><i class="icon-caret-right"></i> Responsive Ready Layout</li>
            <li><i class="icon-caret-right"></i> Retina Display Supported</li>
            <li><i class="icon-caret-right"></i> Powerful &amp; Optimized Code</li>
            <li><i class="icon-caret-right"></i> 380+ Templates Included</li>
          </ul>
        </div>

        <div class="col_half nobottommargin col_last">
          <ul class="iconlist iconlist-color nobottommargin">
            <li><i class="icon-caret-right"></i> 12+ Headers &amp; Menu Designs</li>
            <li><i class="icon-caret-right"></i> Premium Sliders Included</li>
            <li><i class="icon-caret-right"></i> Light &amp; Dark Colors</li>
            <li><i class="icon-caret-right"></i> e-Commerce Design Included</li>
          </ul>
        </div>

      </div>

      <div class="clear"></div>

    </div>

    <app-special-features></app-special-features>

    <app-carousel-projects></app-carousel-projects>

    <app-clients-testimonials></app-clients-testimonials>

    <app-carousel-clients></app-carousel-clients>

    <a class="button button-full center tright footer-stick">
      <div class="container clearfix">
        Canvas comes with Unlimited Customizations &amp; Options. <strong>Check Out</strong> <i class="icon-caret-right"
                                                                                                style="top:4px;"></i>
      </div>
    </a>

  </div>

</section><!-- #content end -->

<app-footer></app-footer>

