<!-- Content
        ============================================= -->
<section id="content">

  <div class="content-wrap nopadding">

    <div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #444;"></div>

    <div class="section nobg full-screen nopadding nomargin">
      <div class="container vertical-middle divcenter clearfix">

        <div class="row center">
          <a routerLink="/"><img src="/assets/canvas/images/logo-dark.png" alt="Canvas Logo"></a>
        </div>

        <div class="panel panel-default divcenter noradius noborder" style="max-width: 400px;">
          <div class="panel-body" style="padding: 40px;">
            <form id="login-form" name="login-form" class="nobottommargin" [formGroup]="venderLoginForm" (ngSubmit)="esAuthService.login(venderLoginForm)" method="post">
              <h3>Login to your Account</h3>

              <div class="col_full">
                <label for="login-form-username">{{'usr_username' | translate}}:</label>
                <input type="text" [(ngModel)]="venderUser.usr_username" id="login-form-username" formControlName="usr_username" value="" class="form-control not-dark" />
                <div *ngIf="esAuthService.isSubmitted && f.usr_username.errors" class="errormsg">
                  <div *ngIf="f.usr_username.errors.required">Please introduce your username</div>
                </div>
              </div>

              <div class="col_full">
                <label for="login-form-password">{{'usr_password' | translate}}:</label>
                <input type="password" [(ngModel)]="venderUser.usr_password" id="login-form-password" formControlName="usr_password" value="" class="form-control not-dark" />
                <div *ngIf="esAuthService.isSubmitted && f.usr_password.errors" class="errormsg">
                  <div *ngIf="f.usr_password.errors.required">Please introduce your password</div>
                </div>
              </div>

              <div class="col_full nobottommargin">
                <button class="button button-3d button-black" id="login-form-submit" name="login-form-submit" value="login">Login</button>
                <a routerLink="/signup" class="button button-3d button-black" >Signup</a>
              </div>
              <div class="col_full nobottommargin">
                <a href="#" class="fright">Forgot Password?</a>
              </div>
            </form>

            <div class="line line-sm"></div>

            <div class="center">
              <h4 style="margin-bottom: 15px;">or Login with:</h4>
              <a href="#" class="button button-rounded si-facebook si-colored">Facebook</a>
              <span class="hidden-xs">or</span>
              <a href="#" class="button button-rounded si-twitter si-colored">Twitter</a>
            </div>
          </div>
        </div>

        <div class="row center dark"><small>Copyrights &copy; All Rights Reserved by Canvas Inc.</small></div>

      </div>
    </div>

  </div>

</section><!-- #content end -->
