<ng-template #CarouselClientsComponent>
  <div class="container clearfix">

    <div id="oc-clients" class="owl-carousel owl-carousel-full image-carousel" style="padding: 20px 0;">

      <div class="oc-item"><a href="http://logofury.com/"><img src="/assets/canvas/images/clients/1.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="http://logofury.com/"><img src="/assets/canvas/images/clients/2.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="http://logofury.com/"><img src="/assets/canvas/images/clients/3.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="http://logofury.com/"><img src="/assets/canvas/images/clients/4.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="http://logofury.com/"><img src="/assets/canvas/images/clients/5.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="http://logofury.com/"><img src="/assets/canvas/images/clients/6.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="http://logofury.com/"><img src="/assets/canvas/images/clients/7.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="http://logofury.com/"><img src="/assets/canvas/images/clients/8.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="http://logofury.com/"><img src="/assets/canvas/images/clients/9.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="http://logofury.com/"><img src="/assets/canvas/images/clients/10.png" alt="Clients"></a></div>

    </div>

  </div>
</ng-template>
