<ng-template #WidgetLastViewedItemsComponent>
  <div class="widget clearfix">

    <h4>Last Viewed Items</h4>
    <div class="widget-last-view">
      <div class="spost clearfix">
        <div class="entry-image">
          <a href="#"><img src="/assets/canvas/images/shop/small/3.jpg" alt="Image"></a>
        </div>
        <div class="entry-c">
          <div class="entry-title">
            <h4><a href="#">Round-Neck Tshirt</a></h4>
          </div>
          <ul class="entry-meta">
            <li class="color">$15</li>
            <li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i></li>
          </ul>
        </div>
      </div>

      <div class="spost clearfix">
        <div class="entry-image">
          <a href="#"><img src="/assets/canvas/images/shop/small/10.jpg" alt="Image"></a>
        </div>
        <div class="entry-c">
          <div class="entry-title">
            <h4><a href="#">Green Trousers</a></h4>
          </div>
          <ul class="entry-meta">
            <li class="color">$19</li>
            <li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
          </ul>
        </div>
      </div>

      <div class="spost clearfix">
        <div class="entry-image">
          <a href="#"><img src="/assets/canvas/images/shop/small/11.jpg" alt="Image"></a>
        </div>
        <div class="entry-c">
          <div class="entry-title">
            <h4><a href="#">Silver Chrome Watch</a></h4>
          </div>
          <ul class="entry-meta">
            <li class="color">$34.99</li>
            <li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i> <i class="icon-star-empty"></i></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</ng-template>
