<ng-template #SidebarLeftComponent>

  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <app-unordered-list-admin></app-unordered-list-admin>
    </div>
  </nav>

</ng-template>
