<app-header-two-shop></app-header-two-shop>

<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Shop Categories - Parallax</h1>
    <span>Showcase of Our Shop Categories in Parallax Mode</span>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Shop</a></li>
      <li class="active">Categories</li>
    </ol>
  </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div id="shop-categories" class="header-stick footer-stick clearfix">

      <div class="entry-image parallax nobottommargin" style="background-image: url('/assets/canvas/images/shop/category/15.jpg'); height:600px" data-stellar-background-ratio="0.3"></div>

      <div class="entry-image parallax nobottommargin" style="background-image: url('/assets/canvas/images/shop/category/17.jpg'); height:600px" data-stellar-background-ratio="0.3"></div>

      <div class="entry-image parallax nobottommargin" style="background-image: url('/assets/canvas/images/shop/category/6.jpg'); height:600px" data-stellar-background-ratio="0.3"></div>

      <div class="entry-image parallax nobottommargin" style="background-image: url('/assets/canvas/images/shop/category/10.jpg'); height:600px" data-stellar-background-ratio="0.3"></div>

      <div class="entry-image parallax nobottommargin" style="background-image: url('/assets/canvas/images/shop/category/14.jpg'); height:600px" data-stellar-background-ratio="0.3"></div>

      <div class="entry-image parallax nobottommargin" style="background-image: url('/assets/canvas/images/shop/category/19.jpg'); height:600px" data-stellar-background-ratio="0.3"></div>

      <div class="entry-image parallax nobottommargin" style="background-image: url('/assets/canvas/images/shop/category/21.jpg'); height:600px" data-stellar-background-ratio="0.3"></div>

      <div class="entry-image parallax nobottommargin" style="background-image: url('/assets/canvas/images/shop/category/23.jpg'); height:600px" data-stellar-background-ratio="0.3"></div>

    </div>

  </div>

</section><!-- #content end -->

<app-footer></app-footer>
