<ng-template #SpecialFeaturesComponent>
  <div class="section topmargin-lg">
    <div class="container clearfix">

      <div class="heading-block center">
        <h2>Features that you are gonna Love</h2>
        <span>Canvas comes with 100+ Feature oriented Shortcodes that are easy to use too.</span>
      </div>

      <div class="clear bottommargin-sm"></div>

      <div class="col_one_third">
        <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn">
          <div class="fbox-icon">
            <a href="#"><i class="icon-phone2"></i></a>
          </div>
          <h3>Responsive Layout</h3>
          <p>Powerful Layout with Responsive functionality that can be adapted to any screen size.</p>
        </div>
      </div>

      <div class="col_one_third">
        <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="200">
          <div class="fbox-icon">
            <a href="#"><i class="icon-eye"></i></a>
          </div>
          <h3>Retina Ready Graphics</h3>
          <p>Looks beautiful &amp; ultra-sharp on Retina Displays with Retina Icons, Fonts &amp; Images.</p>
        </div>
      </div>

      <div class="col_one_third col_last">
        <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="400">
          <div class="fbox-icon">
            <a href="#"><i class="icon-star2"></i></a>
          </div>
          <h3>Powerful Performance</h3>
          <p>Optimized code that are completely customizable and deliver unmatched fast performance.</p>
        </div>
      </div>

      <div class="clear"></div>

      <div class="col_one_third">
        <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="600">
          <div class="fbox-icon">
            <a href="#"><i class="icon-video"></i></a>
          </div>
          <h3>HTML5 Video</h3>
          <p>Canvas provides support for Native HTML5 Videos that can be added to a Full Width Background.</p>
        </div>
      </div>

      <div class="col_one_third">
        <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="800">
          <div class="fbox-icon">
            <a href="#"><i class="icon-params"></i></a>
          </div>
          <h3>Parallax Support</h3>
          <p>Display your Content attractively using Parallax Sections that have unlimited customizable areas.</p>
        </div>
      </div>

      <div class="col_one_third col_last">
        <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="1000">
          <div class="fbox-icon">
            <a href="#"><i class="icon-fire"></i></a>
          </div>
          <h3>Endless Possibilities</h3>
          <p>Complete control on each &amp; every element that provides endless customization possibilities.</p>
        </div>
      </div>

      <div class="clear"></div>

      <div class="col_one_third nobottommargin">
        <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="1200">
          <div class="fbox-icon">
            <a href="#"><i class="icon-bulb"></i></a>
          </div>
          <h3>Light &amp; Dark Color Schemes</h3>
          <p>Change your Website's Primary Scheme instantly by simply adding the dark class to the body.</p>
        </div>
      </div>

      <div class="col_one_third nobottommargin">
        <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="1400">
          <div class="fbox-icon">
            <a href="#"><i class="icon-heart2"></i></a>
          </div>
          <h3>Boxed &amp; Wide Layouts</h3>
          <p>Stretch your Website to the Full Width or make it boxed to surprise your visitors.</p>
        </div>
      </div>

      <div class="col_one_third nobottommargin col_last">
        <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="1600">
          <div class="fbox-icon">
            <a href="#"><i class="icon-note"></i></a>
          </div>
          <h3>Extensive Documentation</h3>
          <p>We have covered each &amp; everything in our Documentation including Videos &amp; Screenshots.</p>
        </div>
      </div>

      <div class="clear"></div>

    </div>
  </div>

</ng-template>
