<ng-template #WidgetTwitterFeedComponent>
  <div class="widget widget-twitter-feed clearfix">

    <h4>Twitter Feed</h4>
    <ul class="iconlist twitter-feed" data-username="envato" data-count="2">
      <li></li>
    </ul>

    <a href="#" class="btn btn-default btn-sm fright">Follow Us on Twitter</a>

  </div>
</ng-template>
