<ng-template #WidgetSubscribeLightComponent>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet cumque, perferendis accusamus porro illo exercitationem molestias.</p>

  <div id="widget-subscribe-form3-result" data-notify-type="success" data-notify-msg=""></div>
  <form id="widget-subscribe-form3" action="/assets/include/subscribe.php" role="form" method="post" class="nobottommargin">
    <div class="input-group" style="max-width:400px;">
      <span class="input-group-addon"><i class="icon-email2"></i></span>
      <input type="email" name="widget-subscribe-form3-email" class="form-control required email" placeholder="Enter your Email">
      <span class="input-group-btn">
                                        <button class="btn btn-danger" type="submit">Subscribe Now</button>
                                    </span>
    </div>
  </form>

</ng-template>
