<ng-template #RelatedProductsComponent>
  <div id="oc-product" class="owl-carousel product-carousel">

    <div class="oc-item">
      <div class="product iproduct clearfix" style="width: 50%">
        <div class="product-image">
          <a href="#"><img src="/assets/canvas/images/shop/dress/1.jpg" alt="Checked Short Dress"></a>
          <a href="#"><img src="/assets/canvas/images/shop/dress/1-1.jpg" alt="Checked Short Dress"></a>
          <div class="sale-flash">50% Off*</div>
          <div class="product-overlay">
            <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
            <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
          </div>
        </div>
        <div class="product-desc center">
          <div class="product-title"><h3><a href="#">Checked Short Dress</a></h3></div>
          <div class="product-price"><del>$24.99</del> <ins>$12.49</ins></div>
          <div class="product-rating">
            <i class="icon-star3"></i>
            <i class="icon-star3"></i>
            <i class="icon-star3"></i>
            <i class="icon-star3"></i>
            <i class="icon-star-half-full"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="oc-item">
      <div class="product iproduct clearfix" style="width: 50%">
        <div class="product-image">
          <a href="#"><img src="/assets/canvas/images/shop/pants/1-1.jpg" alt="Slim Fit Chinos"></a>
          <a href="#"><img src="/assets/canvas/images/shop/pants/1.jpg" alt="Slim Fit Chinos"></a>
          <div class="product-overlay">
            <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
            <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
          </div>
        </div>
        <div class="product-desc center">
          <div class="product-title"><h3><a href="#">Slim Fit Chinos</a></h3></div>
          <div class="product-price">$39.99</div>
          <div class="product-rating">
            <i class="icon-star3"></i>
            <i class="icon-star3"></i>
            <i class="icon-star3"></i>
            <i class="icon-star-half-full"></i>
            <i class="icon-star-empty"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="oc-item">
      <div class="product iproduct clearfix" style="width: 50%">
        <div class="product-image">
          <a href="#"><img src="/assets/canvas/images/shop/shoes/1-1.jpg" alt="Dark Brown Boots"></a>
          <a href="#"><img src="/assets/canvas/images/shop/shoes/1.jpg" alt="Dark Brown Boots"></a>
          <div class="product-overlay">
            <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
            <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
          </div>
        </div>
        <div class="product-desc center">
          <div class="product-title"><h3><a href="#">Dark Brown Boots</a></h3></div>
          <div class="product-price">$49</div>
          <div class="product-rating">
            <i class="icon-star3"></i>
            <i class="icon-star3"></i>
            <i class="icon-star3"></i>
            <i class="icon-star-empty"></i>
            <i class="icon-star-empty"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="oc-item">
      <div class="product iproduct clearfix" style="width: 50%">
        <div class="product-image">
          <a href="#"><img src="/assets/canvas/images/shop/dress/2.jpg" alt="Light Blue Denim Dress"></a>
          <a href="#"><img src="/assets/canvas/images/shop/dress/2-2.jpg" alt="Light Blue Denim Dress"></a>
          <div class="product-overlay">
            <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
            <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
          </div>
        </div>
        <div class="product-desc center">
          <div class="product-title"><h3><a href="#">Light Blue Denim Dress</a></h3></div>
          <div class="product-price">$19.95</div>
          <div class="product-rating">
            <i class="icon-star3"></i>
            <i class="icon-star3"></i>
            <i class="icon-star3"></i>
            <i class="icon-star3"></i>
            <i class="icon-star-empty"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="oc-item">
      <div class="product iproduct clearfix" style="width: 50%">
        <div class="product-image">
          <a href="#"><img src="/assets/canvas/images/shop/sunglasses/1.jpg" alt="Unisex Sunglasses"></a>
          <a href="#"><img src="/assets/canvas/images/shop/sunglasses/1-1.jpg" alt="Unisex Sunglasses"></a>
          <div class="sale-flash">Sale!</div>
          <div class="product-overlay">
            <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
            <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
          </div>
        </div>
        <div class="product-desc center">
          <div class="product-title"><h3><a href="#">Unisex Sunglasses</a></h3></div>
          <div class="product-price"><del>$19.99</del> <ins>$11.99</ins></div>
          <div class="product-rating">
            <i class="icon-star3"></i>
            <i class="icon-star3"></i>
            <i class="icon-star3"></i>
            <i class="icon-star-empty"></i>
            <i class="icon-star-empty"></i>
          </div>
        </div>
      </div>
    </div>

  </div>

</ng-template>
