<ng-template #WidgetFlickrComponent>
  <div class="widget clearfix">

    <h4>Flickr Photostream</h4>
    <div id="flickr-widget" class="flickr-feed masonry-thumbs" data-id="613394@N22" data-count="16" data-type="group" data-lightbox="gallery"></div>

  </div>
</ng-template>
