<ng-template #TimelineGrayComponent>
  <section class="timeline gray-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1>Our workflow</h1>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
        </div>
      </div>
      <div class="row features-block">

        <div class="col-lg-12">
          <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
            <div class="vertical-timeline-block">
              <div class="vertical-timeline-icon navy-bg">
                <i class="fa fa-briefcase"></i>
              </div>

              <div class="vertical-timeline-content">
                <h2>Meeting</h2>
                <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.
                </p>
                <a href="#" class="btn btn-xs btn-primary"> More info</a>
                <span class="vertical-date"> Today <br/> <small>Dec 24</small> </span>
              </div>
            </div>

            <div class="vertical-timeline-block">
              <div class="vertical-timeline-icon navy-bg">
                <i class="fa fa-file-text"></i>
              </div>

              <div class="vertical-timeline-content">
                <h2>Decision</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                <a href="#" class="btn btn-xs btn-primary"> More info</a>
                <span class="vertical-date"> Tomorrow <br/> <small>Dec 26</small> </span>
              </div>
            </div>

            <div class="vertical-timeline-block">
              <div class="vertical-timeline-icon navy-bg">
                <i class="fa fa-cogs"></i>
              </div>

              <div class="vertical-timeline-content">
                <h2>Implementation</h2>
                <p>Go to shop and find some products. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
                <a href="#" class="btn btn-xs btn-primary"> More info</a>
                <span class="vertical-date"> Monday <br/> <small>Jan 02</small> </span>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </section>
</ng-template>
