<ng-template #HeaderComponent>
  <!-- Header
          ============================================= -->
  <header id="header" class="full-header">

    <div id="header-wrap">

      <div class="container clearfix">

        <app-logo></app-logo>

      </div>

    </div>

  </header><!-- #header end -->
</ng-template>
