<ng-template #WidgetShortcodesComponent>
  <div class="widget widget_links clearfix">
    <h4>Shortcodes</h4>
    <ul>
      <li><a href="animations.html"><div>Animations</div></a></li>
      <li><a href="buttons.html"><div>Buttons</div></a></li>
      <li><a href="carousel.html"><div>Carousel</div></a></li>
      <li><a href="charts.html"><div>Charts</div></a></li>
      <li><a href="clients.html"><div>Clients</div></a></li>
      <li><a href="columns-grids.html"><div>Columns</div></a></li>
      <li><a href="counters.html"><div>Counters</div></a></li>
      <li><a href="dividers.html"><div>Dividers</div></a></li>
      <li><a href="featured-boxes.html"><div>Icon Boxes</div></a></li>
      <li><a href="gallery.html"><div>Galleries</div></a></li>
      <li><a href="headings-dropcaps.html"><div>Heading Styles</div></a></li>
      <li><a href="icon-lists.html"><div>Icon Lists</div></a></li>
      <li><a href="labels-badges.html"><div>Labels</div></a></li>
      <li><a href="lightbox.html"><div>Lightbox</div></a></li>
      <li><a href="lists-panels.html"><div>Lists &amp; Panels</div></a></li>
      <li><a href="maps.html"><div>Maps</div></a></li>
      <li><a href="media-embeds.html"><div>Media Embeds</div></a></li>
      <li><a href="modal-popovers.html"><div>Modal Boxes</div></a></li>
      <li><a href="navigation.html"><div>Navigations</div></a></li>
      <li><a href="pagination-progress.html"><div>Pagination</div></a></li>
      <li><a href="pie-skills.html"><div>Pies &amp; Skills</div></a></li>
      <li><a href="pricing.html"><div>Pricing Boxes</div></a></li>
      <li><a href="process-steps.html"><div>Process Steps</div></a></li>
      <li><a href="promo-boxes.html"><div>Promo Boxes</div></a></li>
      <li><a href="quotes-blockquotes.html"><div>Blockquotes</div></a></li>
      <li><a href="responsive.html"><div>Responsive</div></a></li>
      <li><a href="sections.html"><div>Sections</div></a></li>
      <li><a href="social-icons.html"><div>Social Icons</div></a></li>
      <li><a href="style-boxes.html"><div>Alert Boxes</div></a></li>
      <li><a href="styled-icons.html"><div>Styled Icons</div></a></li>
      <li><a href="tables.html"><div>Tables</div></a></li>
      <li><a href="tabs.html"><div>Tabs</div></a></li>
      <li><a href="testimonials-twitter.html"><div>Testimonials</div></a></li>
      <li><a href="thumbnails-slider.html"><div>Thumbnails</div></a></li>
      <li><a href="toggles-accordions.html"><div>Toggles</div></a></li>
    </ul>

  </div>
</ng-template>
