
<ng-template #HeaderExtrasPromotionComponent>
  <ul class="header-extras">
    <li>
      <i class="i-medium i-circled i-bordered icon-thumbs-up2 nomargin"></i>
      <div class="he-text">
        Original Brands
        <span>100% Guaranteed</span>
      </div>
    </li>
    <li>
      <i class="i-medium i-circled i-bordered icon-truck2 nomargin"></i>
      <div class="he-text">
        Free Shipping
        <span>for $20 or more</span>
      </div>
    </li>
    <li>
      <i class="i-medium i-circled i-bordered icon-undo nomargin"></i>
      <div class="he-text">
        30-Day Returns
        <span>Completely Free</span>
      </div>
    </li>
  </ul>
</ng-template>
