<ng-template #SidebarLeftIndexComponent>
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <app-unordered-list-es></app-unordered-list-es>
    </div>
  </nav>
</ng-template>
