<app-header-four></app-header-four>

<section id="slider" class="slider-parallax full-screen dark error404-wrap" style="background: url(/assets/canvas/images/landing/static.jpg) center;">

  <div class="container vertical-middle center clearfix">

    <div class="error404">404</div>

    <div class="heading-block nobottomborder">
      <h4>Ooopps.! The Page you were looking for, couldn't be found.</h4>
      <span>Try the search below to find matching pages:</span>
    </div>

    <form action="#" method="get" role="form" class="divcenter nobottommargin">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Search for Pages...">
        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button">Search</button>
                        </span>
      </div>
    </form>

  </div>

</section>

<app-footer></app-footer>
