<ng-template #AddressInfoComponent>
  <address>
    <strong>Headquarters:</strong><br>
    795 Folsom Ave, Suite 600<br>
    San Francisco, CA 94107<br>
  </address>
  <abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
  <abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>
  <abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
</ng-template>
