<ng-template #HeaderElevenComponent>
  <!-- Header
      ============================================= -->
  <header id="header">

    <div id="header-wrap">

      <div class="container clearfix">

        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

        <app-logo></app-logo>

        <!-- Primary Navigation
                  ============================================= -->
        <nav id="primary-menu">

          <app-unordered-list-simple></app-unordered-list-simple>

          <app-top-cart></app-top-cart>

          <app-top-search></app-top-search>

          <a href="#" id="overlay-menu-close" class="visible-lg-block visible-md-block"><i class="icon-line-cross"></i></a>

        </nav><!-- #primary-menu end -->

      </div>

    </div>

  </header><!-- #header end -->
</ng-template>
