<ng-template #WidgetPortfolioSliderComponent>
  <div class="widget clearfix">

    <h4>Portfolio Carousel</h4>
    <div id="oc-portfolio-sidebar" class="owl-carousel portfolio-5">

      <div class="oc-item">
        <div class="iportfolio">
          <div class="portfolio-image">
            <a href="#">
              <img src="/assets/canvas/images/portfolio/4/3.jpg" alt="Mac Sunglasses">
            </a>
            <div class="portfolio-overlay">
              <a href="http://vimeo.com/89396394" class="center-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
            </div>
          </div>
          <div class="portfolio-desc center nobottompadding">
            <h3><a href="portfolio-single-video.html">Mac Sunglasses</a></h3>
            <span><a href="#">Graphics</a>, <a href="#">UI Elements</a></span>
          </div>
        </div>
      </div>

      <div class="oc-item">
        <div class="iportfolio">
          <div class="portfolio-image">
            <a href="portfolio-single.html">
              <img src="/assets/canvas/images/portfolio/4/1.jpg" alt="Open Imagination">
            </a>
            <div class="portfolio-overlay">
              <a href="/assets/canvas/images/blog/full/1.jpg" class="center-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
            </div>
          </div>
          <div class="portfolio-desc center nobottompadding">
            <h3><a href="portfolio-single.html">Open Imagination</a></h3>
            <span><a href="#">Media</a>, <a href="#">Icons</a></span>
          </div>
        </div>
      </div>

    </div>

  </div>
</ng-template>
