<ng-template #HeaderThreeShopComponent>
  <!-- Header
      ============================================= -->
  <header id="header" class="sticky-style-2">

    <div class="container clearfix">

      <app-logo></app-logo>

      <app-header-extras-promotion></app-header-extras-promotion>

    </div>

    <div id="header-wrap">

      <!-- Primary Navigation
              ============================================= -->
      <nav id="primary-menu" class="style-2">

        <div class="container clearfix">

          <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

          <app-unordered-list-shop></app-unordered-list-shop>

          <app-top-cart></app-top-cart>

          <app-top-search></app-top-search>

        </div>

      </nav><!-- #primary-menu end -->

    </div>

  </header><!-- #header end -->
</ng-template>
