<ng-template #WidgetLinksComponent>
  <div class="widget widget_links clearfix">

    <h4>Shop Categories</h4>
    <ul>
      <li><a href="#">Shirts</a></li>
      <li><a href="#">Pants</a></li>
      <li><a href="#">Tshirts</a></li>
      <li><a href="#">Sunglasses</a></li>
      <li><a href="#">Shoes</a></li>
      <li><a href="#">Bags</a></li>
      <li><a href="#">Watches</a></li>
    </ul>

  </div>
</ng-template>
