<ng-template #WidgetCounterComponent>
  <div class="widget clearfix" style="margin-bottom: -20px;">

    <div class="row">

      <div class="col-md-6 bottommargin-sm">
        <div class="counter counter-small"><span data-from="50" data-to="15065421" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
        <h5 class="nobottommargin">Total Downloads</h5>
      </div>

      <div class="col-md-6 bottommargin-sm">
        <div class="counter counter-small"><span data-from="100" data-to="18465" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
        <h5 class="nobottommargin">Clients</h5>
      </div>

    </div>

  </div>
</ng-template>
