<app-header-one></app-header-one>

<!-- Page Sub Menu
  ============================================= -->
<div id="page-menu" class="no-sticky">

  <div id="page-menu-wrap">

    <div class="container clearfix">

      <div class="menu-title">Portfolio <span>Variations</span></div>

      <nav>
        <ul>
          <li class="current"><a href="portfolio-3.html">With Margin</a></li>
          <li><a href="portfolio-3-nomargin.html">No Margin</a></li>
          <li><a href="portfolio-3-notitle.html">No Title</a></li>
          <li><a href="portfolio-3-title-overlay.html">Title Overlay</a></li>
          <li><a href="portfolio-3-fullwidth.html">Full Width</a></li>
          <li><a href="portfolio-3-fullwidth-notitle.html">Full Width - No Title</a></li>
        </ul>
      </nav>

      <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>

    </div>

  </div>

</div><!-- #page-menu end -->

<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Portfolio</h1>
    <span>Showcase of Our Awesome Works in 3 Columns</span>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">Portfolio</li>
    </ol>
  </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <app-portafolio-filter></app-portafolio-filter>

    </div>

  </div>

</section><!-- #content end -->

<app-footer></app-footer>
