<ng-template #HeaderExtrasEmailComponent>
  <ul class="header-extras">
    <li>
      <i class="i-plain icon-email3 nomargin"></i>
      <div class="he-text">
        Drop an Email
        <span>info@canvas.com</span>
      </div>
    </li>
    <li>
      <i class="i-plain icon-call nomargin"></i>
      <div class="he-text">
        Get in Touch
        <span>1800-1144-551</span>
      </div>
    </li>
  </ul>
</ng-template>
