<ng-template #FeaturesComponent>

  <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1>Even more great feautres</h1>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
        </div>
      </div>
      <div class="row features-block">
        <div class="col-lg-3 features-text wow fadeInLeft">
          <small>INSPINIA</small>
          <h2>Perfectly designed </h2>
          <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>
          <a href="" class="btn btn-primary">Learn more</a>
        </div>
        <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
          <img src="/assets/inspinia/img/landing/iphone.jpg" class="img-responsive" alt="dashboard">
        </div>
        <div class="col-lg-3 features-text text-right wow fadeInRight">
          <small>INSPINIA</small>
          <h2>Perfectly designed </h2>
          <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>
          <a href="" class="btn btn-primary">Learn more</a>
        </div>
      </div>
    </div>

  </section>

</ng-template>
