<h1>Inspinia Template Links</h1>

<a href="{{basePath}}/admin/not-found"><h3>not-found</h3></a>
<a href="{{basePath}}/admin/server-error"><h3>server-error</h3></a>
<a href="{{basePath}}/admin/agile-board"><h3>agile-board</h3></a>
<a href="{{basePath}}/admin/calendar"><h3>calendar</h3></a>
<a href="{{basePath}}/admin/chat-view"><h3>chat-view</h3></a>
<a href="{{basePath}}/admin/clients"><h3>clients</h3></a>
<a href="{{basePath}}/admin/contacts"><h3>contacts</h3></a>
<a href="{{basePath}}/admin/dashboard-one"><h3>dashboard-one</h3></a>
<a href="{{basePath}}/admin/dashboard-two"><h3>dashboard-two</h3></a>
<a href="{{basePath}}/admin/dashboard-three"><h3>dashboard-three</h3></a>
<a href="{{basePath}}/admin/dashboard-four"><h3>dashboard-four</h3></a>
<a href="{{basePath}}/admin/ecommerce-orders"><h3>ecommerce-orders</h3></a>
<a href="{{basePath}}/admin/ecommerce-products"><h3>ecommerce-products</h3></a>
<a href="{{basePath}}/admin/ecommerce-product-list"><h3>ecommerce-product-list</h3></a>
<a href="{{basePath}}/admin/ecommerce-products-grid"><h3>ecommerce-products-grid</h3></a>
<a href="{{basePath}}/admin/file-manager"><h3>file-manager</h3></a>
<a href="{{basePath}}/admin/forgot-password"><h3>forgot-password</h3></a>
<a href="{{basePath}}/admin/file-manager-upload"><h3>file-manager-upload</h3></a>
<a href="{{basePath}}/admin/invoice"><h3>invoice</h3></a>
<a href="{{basePath}}/admin/invoice-print"><h3>invoice-print</h3></a>
<a href="{{basePath}}/admin/issue-tracker"><h3>issue-tracker</h3></a>
<a href="{{basePath}}/admin/landing"><h3>landing</h3></a>
<a href="{{basePath}}/admin/layouts"><h3>layouts</h3></a>
<a href="{{basePath}}/admin/locked"><h3>locked</h3></a>
<a href="{{basePath}}/admin/login"><h3>login</h3></a>
<a href="{{basePath}}/admin/login-two-columns"><h3>login-two-columns</h3></a>
<a href="{{basePath}}/admin/profile"><h3>profile</h3></a>
<a href="{{basePath}}/admin/register"><h3>register</h3></a>
<a href="{{basePath}}/admin/project-detail"><h3>project-detail</h3></a>
<a href="{{basePath}}/admin/projects"><h3>projects</h3></a>
<a href="{{basePath}}/admin/links"><h3>links</h3></a>
