<ng-template #WidgetTagCloudComponent>
  <div class="widget clearfix">

    <h4>Tag Cloud</h4>
    <div class="tagcloud">
      <a href="#">general</a>
      <a href="#">videos</a>
      <a href="#">music</a>
      <a href="#">media</a>
      <a href="#">photography</a>
      <a href="#">parallax</a>
      <a href="#">ecommerce</a>
      <a href="#">terms</a>
      <a href="#">coupons</a>
      <a href="#">modern</a>
    </div>

  </div>
</ng-template>
