
<div id="wrapper">

  <app-sidebar-left></app-sidebar-left>

  <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
      <app-navbar-one></app-navbar-one>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
        <h2>Agile board</h2>
        <ol class="breadcrumb">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a>Miscellaneous</a>
          </li>
          <li class="active">
            <strong>Agile board</strong>
          </li>
        </ol>
      </div>
      <div class="col-lg-2">

      </div>
    </div>

    <div class="wrapper wrapper-content  animated fadeInRight">
      <div class="row">
        <div class="col-lg-4">
          <div class="ibox">
            <div class="ibox-content">
              <h3>To-do</h3>
              <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>

              <div class="input-group">
                <input type="text" placeholder="Add new task. " class="input input-sm form-control">
                <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-plus"></i> Add task</button>
                                </span>
              </div>

              <ul class="sortable-list connectList agile-list">
                <li class="warning-element">
                  Simply dummy text of the printing and typesetting industry.
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                    <i class="fa fa-clock-o"></i> 12.10.2015
                  </div>
                </li>
                <li class="success-element">
                  Many desktop publishing packages and web page editors now use Lorem Ipsum as their default.
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                    <i class="fa fa-clock-o"></i> 05.04.2015
                  </div>
                </li>
                <li class="info-element">
                  Sometimes by accident, sometimes on purpose (injected humour and the like).
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                    <i class="fa fa-clock-o"></i> 16.11.2015
                  </div>
                </li>
                <li class="danger-element">
                  All the Lorem Ipsum generators
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-primary">Done</a>
                    <i class="fa fa-clock-o"></i> 06.10.2015
                  </div>
                </li>
                <li class="warning-element">
                  Which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                    <i class="fa fa-clock-o"></i> 09.12.2015
                  </div>
                </li>
                <li class="warning-element">
                  Packages and web page editors now use Lorem Ipsum as
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-primary">Done</a>
                    <i class="fa fa-clock-o"></i> 08.04.2015
                  </div>
                </li>
                <li class="success-element">
                  Many desktop publishing packages and web page editors now use Lorem Ipsum as their default.
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                    <i class="fa fa-clock-o"></i> 05.04.2015
                  </div>
                </li>
                <li class="info-element">
                  Sometimes by accident, sometimes on purpose (injected humour and the like).
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                    <i class="fa fa-clock-o"></i> 16.11.2015
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="ibox">
            <div class="ibox-content">
              <h3>In Progress</h3>
              <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>
              <ul class="sortable-list connectList agile-list">
                <li class="success-element">
                  Quisque venenatis ante in porta suscipit.
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                    <i class="fa fa-clock-o"></i> 12.10.2015
                  </div>
                </li>
                <li class="success-element">
                  Phasellus sit amet tortor sed enim mollis accumsan in consequat orci.
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                    <i class="fa fa-clock-o"></i> 05.04.2015
                  </div>
                </li>
                <li class="warning-element">
                  Nunc sed arcu at ligula faucibus tempus ac id felis. Vestibulum et nulla quis turpis sagittis fringilla.
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                    <i class="fa fa-clock-o"></i> 16.11.2015
                  </div>
                </li>
                <li class="warning-element">
                  Ut porttitor augue non sapien mollis accumsan.
                  Nulla non elit eget lacus elementum viverra.
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                    <i class="fa fa-clock-o"></i> 09.12.2015
                  </div>
                </li>
                <li class="info-element">
                  Packages and web page editors now use Lorem Ipsum as
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-primary">Done</a>
                    <i class="fa fa-clock-o"></i> 08.04.2015
                  </div>
                </li>
                <li class="success-element">
                  Quisque lacinia tellus et odio ornare maximus.
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                    <i class="fa fa-clock-o"></i> 05.04.2015
                  </div>
                </li>
                <li class="danger-element">
                  Enim mollis accumsan in consequat orci.
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                    <i class="fa fa-clock-o"></i> 11.04.2015
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="ibox">
            <div class="ibox-content">
              <h3>Completed</h3>
              <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>
              <ul class="sortable-list connectList agile-list">
                <li class="info-element">
                  Sometimes by accident, sometimes on purpose (injected humour and the like).
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                    <i class="fa fa-clock-o"></i> 16.11.2015
                  </div>
                </li>
                <li class="warning-element">
                  Ut porttitor augue non sapien mollis accumsan.
                  Nulla non elit eget lacus elementum viverra.
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                    <i class="fa fa-clock-o"></i> 09.12.2015
                  </div>
                </li>
                <li class="warning-element">
                  Which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                    <i class="fa fa-clock-o"></i> 09.12.2015
                  </div>
                </li>
                <li class="warning-element">
                  Packages and web page editors now use Lorem Ipsum as
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-primary">Done</a>
                    <i class="fa fa-clock-o"></i> 08.04.2015
                  </div>
                </li>
                <li class="success-element">
                  Many desktop publishing packages and web page editors now use Lorem Ipsum as their default.
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                    <i class="fa fa-clock-o"></i> 05.04.2015
                  </div>
                </li>
                <li class="info-element">
                  Sometimes by accident, sometimes on purpose (injected humour and the like).
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                    <i class="fa fa-clock-o"></i> 16.11.2015
                  </div>
                </li>
                <li class="warning-element">
                  Simply dummy text of the printing and typesetting industry.
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                    <i class="fa fa-clock-o"></i> 12.10.2015
                  </div>
                </li>
                <li class="success-element">
                  Many desktop publishing packages and web page editors now use Lorem Ipsum as their default.
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                    <i class="fa fa-clock-o"></i> 05.04.2015
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>


    </div>
    <app-footer-one></app-footer-one>

  </div>
</div>
