<ng-template #MenuFiveComponent>
  <!-- Primary Navigation
            ============================================= -->
  <nav id="primary-menu" class="style-5">

    <app-unordered-list></app-unordered-list>

    <app-top-cart></app-top-cart>

    <app-top-search></app-top-search>

  </nav><!-- #primary-menu end -->
</ng-template>
