<div id="wrapper">

  <app-sidebar-left></app-sidebar-left>

  <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
      <app-navbar-one></app-navbar-one>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-9">
        <h2>Contacts</h2>
        <ol class="breadcrumb">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            App Views
          </li>
          <li class="active">
            <strong>Contacts</strong>
          </li>
        </ol>
      </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-lg-4">
          <div class="contact-box">
            <a href="profile.html">
              <div class="col-sm-4">
                <div class="text-center">
                  <img alt="image" class="img-circle m-t-xs img-responsive" src="/assets/inspinia/img/a2.jpg">
                  <div class="m-t-xs font-bold">Graphics designer</div>
                </div>
              </div>
              <div class="col-sm-8">
                <h3><strong>John Smith</strong></h3>
                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                <address>
                  <strong>Twitter, Inc.</strong><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
              </div>
              <div class="clearfix"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact-box">
            <a href="profile.html">
              <div class="col-sm-4">
                <div class="text-center">
                  <img alt="image" class="img-circle m-t-xs img-responsive" src="/assets/inspinia/img/a1.jpg">
                  <div class="m-t-xs font-bold">CEO</div>
                </div>
              </div>
              <div class="col-sm-8">
                <h3><strong>Alex Johnatan</strong></h3>
                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                <address>
                  <strong>Twitter, Inc.</strong><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
              </div>
              <div class="clearfix"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact-box">
            <a href="profile.html">
              <div class="col-sm-4">
                <div class="text-center">
                  <img alt="image" class="img-circle m-t-xs img-responsive" src="/assets/inspinia/img/a3.jpg">
                  <div class="m-t-xs font-bold">Marketing manager</div>
                </div>
              </div>
              <div class="col-sm-8">
                <h3><strong>Monica Smith</strong></h3>
                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                <address>
                  <strong>Twitter, Inc.</strong><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
              </div>
              <div class="clearfix"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact-box">
            <a href="profile.html">
              <div class="col-sm-4">
                <div class="text-center">
                  <img alt="image" class="img-circle m-t-xs img-responsive" src="/assets/inspinia/img/a4.jpg">
                  <div class="m-t-xs font-bold">Sales manager</div>
                </div>
              </div>
              <div class="col-sm-8">
                <h3><strong>Michael Zimber</strong></h3>
                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                <address>
                  <strong>Twitter, Inc.</strong><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
              </div>
              <div class="clearfix"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact-box">
            <a href="profile.html">
              <div class="col-sm-4">
                <div class="text-center">
                  <img alt="image" class="img-circle m-t-xs img-responsive" src="/assets/inspinia/img/a5.jpg">
                  <div class="m-t-xs font-bold">Graphics designer</div>
                </div>
              </div>
              <div class="col-sm-8">
                <h3><strong>Sandra Smith</strong></h3>
                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                <address>
                  <strong>Twitter, Inc.</strong><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
              </div>
              <div class="clearfix"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact-box">
            <a href="profile.html">
              <div class="col-sm-4">
                <div class="text-center">
                  <img alt="image" class="img-circle m-t-xs img-responsive" src="/assets/inspinia/img/a6.jpg">
                  <div class="m-t-xs font-bold">Graphics designer</div>
                </div>
              </div>
              <div class="col-sm-8">
                <h3><strong>Janet Carton</strong></h3>
                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                <address>
                  <strong>Twitter, Inc.</strong><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
              </div>
              <div class="clearfix"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact-box">
            <a href="profile.html">
              <div class="col-sm-4">
                <div class="text-center">
                  <img alt="image" class="img-circle m-t-xs img-responsive" src="/assets/inspinia/img/a1.jpg">
                  <div class="m-t-xs font-bold">CEO</div>
                </div>
              </div>
              <div class="col-sm-8">
                <h3><strong>Alex Johnatan</strong></h3>
                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                <address>
                  <strong>Twitter, Inc.</strong><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
              </div>
              <div class="clearfix"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact-box">
            <a href="profile.html">
              <div class="col-sm-4">
                <div class="text-center">
                  <img alt="image" class="img-circle m-t-xs img-responsive" src="/assets/inspinia/img/a2.jpg">
                  <div class="m-t-xs font-bold">Graphics designer</div>
                </div>
              </div>
              <div class="col-sm-8">
                <h3><strong>John Smith</strong></h3>
                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                <address>
                  <strong>Twitter, Inc.</strong><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
              </div>
              <div class="clearfix"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact-box">
            <a href="profile.html">
              <div class="col-sm-4">
                <div class="text-center">
                  <img alt="image" class="img-circle m-t-xs img-responsive" src="/assets/inspinia/img/a3.jpg">
                  <div class="m-t-xs font-bold">Marketing manager</div>
                </div>
              </div>
              <div class="col-sm-8">
                <h3><strong>Monica Smith</strong></h3>
                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                <address>
                  <strong>Twitter, Inc.</strong><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
              </div>
              <div class="clearfix"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact-box">
            <a href="profile.html">
              <div class="col-sm-4">
                <div class="text-center">
                  <img alt="image" class="img-circle m-t-xs img-responsive" src="/assets/inspinia/img/a4.jpg">
                  <div class="m-t-xs font-bold">Sales manager</div>
                </div>
              </div>
              <div class="col-sm-8">
                <h3><strong>Michael Zimber</strong></h3>
                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                <address>
                  <strong>Twitter, Inc.</strong><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
              </div>
              <div class="clearfix"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact-box">
            <a href="profile.html">
              <div class="col-sm-4">
                <div class="text-center">
                  <img alt="image" class="img-circle m-t-xs img-responsive" src="/assets/inspinia/img/a5.jpg">
                  <div class="m-t-xs font-bold">Graphics designer</div>
                </div>
              </div>
              <div class="col-sm-8">
                <h3><strong>Sandra Smith</strong></h3>
                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                <address>
                  <strong>Twitter, Inc.</strong><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
              </div>
              <div class="clearfix"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact-box">
            <a href="profile.html">
              <div class="col-sm-4">
                <div class="text-center">
                  <img alt="image" class="img-circle m-t-xs img-responsive" src="/assets/inspinia/img/a6.jpg">
                  <div class="m-t-xs font-bold">Graphics designer</div>
                </div>
              </div>
              <div class="col-sm-8">
                <h3><strong>Janet Carton</strong></h3>
                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                <address>
                  <strong>Twitter, Inc.</strong><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
              </div>
              <div class="clearfix"></div>
            </a>

          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact-box">
            <a href="profile.html">
              <div class="col-sm-4">
                <div class="text-center">
                  <img alt="image" class="img-circle m-t-xs img-responsive" src="/assets/inspinia/img/a1.jpg">
                  <div class="m-t-xs font-bold">CEO</div>
                </div>
              </div>
              <div class="col-sm-8">
                <h3><strong>Alex Johnatan</strong></h3>
                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                <address>
                  <strong>Twitter, Inc.</strong><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
              </div>
              <div class="clearfix"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact-box">
            <a href="profile.html">
              <div class="col-sm-4">
                <div class="text-center">
                  <img alt="image" class="img-circle m-t-xs img-responsive" src="/assets/inspinia/img/a2.jpg">
                  <div class="m-t-xs font-bold">Graphics designer</div>
                </div>
              </div>
              <div class="col-sm-8">
                <h3><strong>John Smith</strong></h3>
                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                <address>
                  <strong>Twitter, Inc.</strong><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
              </div>
              <div class="clearfix"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <app-footer-one></app-footer-one>
  </div>
</div>
