<ng-template #IndexVenderHeaderComponent>
  <!-- Header
          ============================================= -->
  <header id="header">

    <div id="header-wrap">

      <div class="container clearfix">

        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

        <app-vender-logo></app-vender-logo>

        <!-- Primary Navigation
      ============================================= -->
        <nav id="primary-menu">

          <app-menu-unordered-list-index></app-menu-unordered-list-index>

          <app-top-cart-index></app-top-cart-index>

          <app-top-search></app-top-search>

        </nav><!-- #primary-menu end -->

      </div>

    </div>

  </header><!-- #header end -->

</ng-template>
