<app-topbar-index></app-topbar-index>
<app-header-index></app-header-index>
<app-banner-index></app-banner-index>

<div class="clear"></div>

<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <app-banner-products-promotion></app-banner-products-promotion>

      <div class="clear"></div>

      <app-products-carousel-filtered></app-products-carousel-filtered>

    </div>

  </div>

</section>

<app-shop-warranties></app-shop-warranties>

<app-footer-index></app-footer-index>
