<ng-template #SidebarRightMessagesComponent>
  <div class="sidebard-panel">
    <div>
      <h4>Messages <span class="badge badge-info pull-right">16</span></h4>
      <div class="feed-element">
        <a href="#" class="pull-left">
          <img alt="image" class="img-circle" src="/assets/inspinia/img/a1.jpg">
        </a>
        <div class="media-body">
          There are many variations of passages of Lorem Ipsum available.
          <br>
          <small class="text-muted">Today 4:21 pm</small>
        </div>
      </div>
      <div class="feed-element">
        <a href="#" class="pull-left">
          <img alt="image" class="img-circle" src="/assets/inspinia/img/a2.jpg">
        </a>
        <div class="media-body">
          TIt is a long established fact that.
          <br>
          <small class="text-muted">Yesterday 2:45 pm</small>
        </div>
      </div>
      <div class="feed-element">
        <a href="#" class="pull-left">
          <img alt="image" class="img-circle" src="/assets/inspinia/img/a3.jpg">
        </a>
        <div class="media-body">
          Many desktop publishing packages.
          <br>
          <small class="text-muted">Yesterday 1:10 pm</small>
        </div>
      </div>
      <div class="feed-element">
        <a href="#" class="pull-left">
          <img alt="image" class="img-circle" src="/assets/inspinia/img/a4.jpg">
        </a>
        <div class="media-body">
          The generated Lorem Ipsum is therefore always free.
          <br>
          <small class="text-muted">Monday 8:37 pm</small>
        </div>
      </div>
    </div>
    <div class="m-t-md">
      <h4>Statistics</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
      </p>
      <div class="row m-t-sm">
        <div class="col-md-6">
          <span class="bar">5,3,9,6,5,9,7,3,5,2</span>
          <h5><strong>169</strong> Posts</h5>
        </div>
        <div class="col-md-6">
          <span class="line">5,3,9,6,5,9,7,3,5,2</span>
          <h5><strong>28</strong> Orders</h5>
        </div>
      </div>
    </div>
    <div class="m-t-md">
      <h4>Discussion</h4>
      <div>
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge badge-primary">16</span>
            General topic
          </li>
          <li class="list-group-item ">
            <span class="badge badge-info">12</span>
            The generated Lorem
          </li>
          <li class="list-group-item">
            <span class="badge badge-warning">7</span>
            There are many variations
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>
