<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
    <div>

      <h1 class="logo-name">IN+</h1>

    </div>
    <h3>Register to IN+</h3>
    <p>Create account to see it in action.</p>
    <form class="m-t" role="form" [formGroup]="esSignupForm" (ngSubmit)="esAuthService.signup(esSignupForm)">
      <div class="form-group">
        <input type="text" [(ngModel)]="esUser.usr_name" class="form-control" placeholder="Name"
               formControlName="usr_name" required="">
      </div>
      <div class="form-group">
        <input type="email" [(ngModel)]="esUser.usr_username" class="form-control" placeholder="Email"
               formControlName="usr_username" required="">
      </div>
      <div class="form-group">
        <input type="password" [(ngModel)]="esUser.usr_password" class="form-control" placeholder="Password"
               formControlName="usr_password" required="">
      </div>
      <div class="form-group">
        <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
      </div>
      <button type="submit" class="btn btn-primary block full-width m-b">Register</button>

      <p class="text-muted text-center"><small>Already have an account?</small></p>
      <a class="btn btn-sm btn-white btn-block" routerLink="/es/login">Login</a>
    </form>
    <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
  </div>
</div>
