<ng-template #TopCartComponent>

  <!-- Top Cart
    ============================================= -->
  <div id="top-cart">
    <a href="#" id="top-cart-trigger"><i class="icon-shopping-cart"></i><span>5</span></a>
    <div class="top-cart-content">
      <div class="top-cart-title">
        <h4>Shopping Cart</h4>
      </div>
      <div class="top-cart-items">
        <div class="top-cart-item clearfix">
          <div class="top-cart-item-image">
            <a href="#"><img src="/assets/canvas/images/shop/small/1.jpg" alt="Blue Round-Neck Tshirt" /></a>
          </div>
          <div class="top-cart-item-desc">
            <a href="#">Blue Round-Neck Tshirt</a>
            <span class="top-cart-item-price">$19.99</span>
            <span class="top-cart-item-quantity">x 2</span>
          </div>
        </div>
        <div class="top-cart-item clearfix">
          <div class="top-cart-item-image">
            <a href="#"><img src="/assets/canvas/images/shop/small/6.jpg" alt="Light Blue Denim Dress" /></a>
          </div>
          <div class="top-cart-item-desc">
            <a href="#">Light Blue Denim Dress</a>
            <span class="top-cart-item-price">$24.99</span>
            <span class="top-cart-item-quantity">x 3</span>
          </div>
        </div>
      </div>
      <div class="top-cart-action clearfix">
        <span class="fleft top-checkout-price">$114.95</span>
        <button class="button button-3d button-small nomargin fright">View Cart</button>
      </div>
    </div>
  </div><!-- #top-cart end -->
</ng-template>
