<ng-template #FooterIndexComponent>
  <div class="footer">
    <div class="pull-right">
      10GB of <strong>250GB</strong> Free.
    </div>
    <div>
      <strong>Copyright</strong> Es Creativo Company &copy; 2020-2022
    </div>
  </div>
</ng-template>
