<ng-template #SidebarShopRightComponent>
  <!-- Sidebar
              ============================================= -->
  <div class="sidebar nobottommargin col_last">

    <div class="sidebar-widgets-wrap">

      <app-widget-links></app-widget-links>

      <app-widget-recent-items></app-widget-recent-items>

      <app-widget-last-viewed-items></app-widget-last-viewed-items>

      <app-widget-popular-items></app-widget-popular-items>

      <app-widget-facebook-likebox></app-widget-facebook-likebox>

      <app-widget-subscribe></app-widget-subscribe>

      <app-widget-image-carousel></app-widget-image-carousel>

    </div>

  </div><!-- .sidebar end -->
</ng-template>
