<ng-template #UnorderedListSimpleComponent>
  <ul>
    <li><a href="index.html"><div>Home</div></a></li>
    <li class="current"><a href="#"><div>Features</div></a></li>
    <li><a href="#"><div>Pages</div></a></li>
    <li><a href="#"><div>Portfolio</div></a></li>
    <li><a href="#"><div>Blog</div></a></li>
    <li><a href="shop.html"><div>Shop</div></a></li>
    <li><a href="#"><div>Shortcodes</div></a></li>
  </ul>
</ng-template>
