<ng-template #MenuUnorderedListIndexComponent>
  <ul>
    <li><a href="index.html"><div>Home</div></a>
      <ul>
        <li><a href="/assets/index-corporate.html"><div>Home - Corporate</div></a>
          <ul>
            <li><a href="/assets/index-corporate.html"><div>Corporate - Layout 1</div></a></li>
            <li><a href="/assets/index-corporate-2.html"><div>Corporate - Layout 2</div></a></li>
            <li><a href="/assets/index-corporate-3.html"><div>Corporate - Layout 3</div></a></li>
            <li><a href="/assets/index-corporate-4.html"><div>Corporate - Layout 4</div></a></li>
          </ul>
        </li>
        <li><a href="/assets/index-portfolio.html"><div>Home - Portfolio</div></a>
          <ul>
            <li><a href="/assets/index-portfolio.html"><div>Portfolio - Layout 1</div></a></li>
            <li><a href="/assets/index-portfolio-2.html"><div>Portfolio - Layout 2</div></a></li>
            <li><a href="/assets/index-portfolio-3.html"><div>Portfolio - Masonry</div></a></li>
            <li><a href="/assets/index-portfolio-4.html"><div>Portfolio - AJAX</div></a></li>
          </ul>
        </li>
        <li><a href="/assets/index-blog.html"><div>Home - Blog</div></a>
          <ul>
            <li><a href="/assets/index-blog.html"><div>Blog - Layout 1</div></a></li>
            <li><a href="/assets/index-blog-2.html"><div>Blog - Layout 2</div></a></li>
            <li><a href="/assets/index-blog-3.html"><div>Blog - Layout 3</div></a></li>
          </ul>
        </li>
        <li><a href="/assets/index-shop.html"><div>Home - Shop</div></a>
          <ul>
            <li><a href="/assets/index-shop.html"><div>Shop - Layout 1</div></a></li>
            <li><a href="/assets/index-shop-2.html"><div>Shop - Layout 2</div></a></li>
          </ul>
        </li>
        <li><a href="/assets/index-magazine.html"><div>Home - Magazine</div></a>
          <ul>
            <li><a href="/assets/index-magazine.html"><div>Magazine - Layout 1</div></a></li>
            <li><a href="/assets/index-magazine-2.html"><div>Magazine - Layout 2</div></a></li>
            <li><a href="/assets/index-magazine-3.html"><div>Magazine - Layout 3</div></a></li>
          </ul>
        </li>
        <li><a href="/assets/landing.html"><div>Home - Landing Page</div></a>
          <ul>
            <li><a href="/assets/landing.html"><div>Landing Page - Layout 1</div></a></li>
            <li><a href="/assets/landing-2.html"><div>Landing Page - Layout 2</div></a></li>
            <li><a href="/assets/landing-3.html"><div>Landing Page - Layout 3</div></a></li>
            <li><a href="/assets/landing-4.html"><div>Landing Page - Layout 4</div></a></li>
            <li><a href="/assets/landing-5.html"><div>Landing Page - Layout 5</div></a></li>
          </ul>
        </li>
        <li><a href="/assets/index-fullscreen-image.html"><div>Home - Full Screen</div></a>
          <ul>
            <li><a href="/assets/index-fullscreen-image.html"><div>Full Screen - Image</div></a></li>
            <li><a href="/assets/index-fullscreen-slider.html"><div>Full Screen - Slider</div></a></li>
            <li><a href="/assets/index-fullscreen-video.html"><div>Full Screen - Video</div></a></li>
          </ul>
        </li>
        <li><a href="/assets/index-onepage.html"><div>Home - One Page</div></a>
          <ul>
            <li><a href="/assets/index-onepage.html"><div>One Page - Default</div></a></li>
            <li><a href="/assets/index-onepage-2.html"><div>One Page - Submenu</div></a></li>
            <li><a href="/assets/index-onepage-3.html"><div>One Page - Dots Style</div></a></li>
          </ul>
        </li>
        <li><a href="/assets/index-wedding.html"><div>Home - Wedding</div></a></li>
        <li><a href="/assets/index-restaurant.html"><div>Home - Restaurant</div></a></li>
        <li><a href="/assets/index-events.html"><div>Home - Events</div></a></li>
        <li><a href="/assets/index-parallax.html"><div>Home - Parallax</div></a></li>
        <li><a href="/assets/index-app-showcase.html"><div>Home - App Showcase</div></a></li>
      </ul>
    </li>
    <li><a href="#"><div>Features</div></a>
      <ul>
        <li><a href="#"><div><i class="icon-stack"></i>Sliders</div></a>
          <ul>
            <li><a href="/assets/slider-revolution.html"><div>Revolution Slider</div></a>
              <ul>
                <li><a href="/assets/slider-revolution.html"><div>Full Screen</div></a></li>
                <li><a href="/assets/slider-revolution-fullwidth.html"><div>Full Width</div></a></li>
                <li><a href="/assets/slider-revolution-kenburns.html"><div>Kenburns Effect</div></a></li>
                <li><a href="/assets/slider-revolution-html5-videos.html"><div>HTML5 Video</div></a></li>
              </ul>
            </li>
            <li><a href="/assets/slider-canvas.html"><div>Canvas Slider</div></a>
              <ul>
                <li><a href="/assets/slider-canvas.html"><div>Full Width</div></a></li>
                <li><a href="/assets/slider-canvas-fade.html"><div>Fade Transition</div></a></li>
                <li><a href="/assets/slider-canvas-autoplay.html"><div>Autoplay Feature</div></a></li>
                <li><a href="/assets/slider-canvas-video-event.html"><div>Custom Video Event</div></a></li>
                <li><a href="/assets/slider-canvas-pagination.html"><div>Pagination Navigation</div></a></li>
                <li><a href="/assets/slider-canvas-3.html"><div>3 Columns</div></a></li>
                <li><a href="/assets/slider-canvas-4.html"><div>4 Columns</div></a></li>
                <li><a href="/assets/slider-canvas-5.html"><div>5 Columns</div></a></li>
              </ul>
            </li>
            <li><a href="/assets/slider-flex.html"><div>Flex Slider</div></a>
              <ul>
                <li><a href="/assets/slider-flex.html"><div>Default Layout</div></a></li>
                <li><a href="/assets/slider-flex-thumbs.html"><div>with Thumbs</div></a></li>
              </ul>
            </li>
            <li><a href="/assets/slider-owl.html"><div>Owl Slider</div></a>
              <ul>
                <li><a href="/assets/slider-owl-full.html"><div>Full Width</div></a></li>
                <li><a href="/assets/slider-owl.html"><div>Boxed Width</div></a></li>
                <li><a href="/assets/slider-owl-videos.html"><div>Video Slider</div></a></li>
              </ul>
            </li>
            <li><a href="/assets/static-parallax.html"><div>Static Media</div></a>
              <ul>
                <li><a href="/assets/static-parallax.html"><div>Static - Parallax</div></a></li>
                <li><a href="/assets/static-image.html"><div>Static - Image</div></a></li>
                <li><a href="/assets/static-thumbs-grid.html"><div>Static - Thumb Gallery</div></a></li>
                <li><a href="/assets/static-html5-video.html"><div>Static - HTML5 Video</div></a></li>
                <li><a href="/assets/static-embed-video.html"><div>Static - Embedded Video</div></a></li>
              </ul>
            </li>
            <li><a href="/assets/slider-camera.html"><div>Camera Slider</div></a></li>
            <li><a href="/assets/slider-elastic.html"><div>Elastic Slider</div></a></li>
            <li><a href="/assets/slider-nivo.html"><div>Nivo Slider</div></a></li>
          </ul>
        </li>
        <li><a href="#"><div><i class="icon-gift"></i>Widgets</div></a>
          <ul>
            <li><a href="#"><div>Links</div></a></li>
            <li><a href="#"><div>Flickr Photostream</div></a></li>
            <li><a href="#"><div>Dribbble Shots</div></a></li>
            <li><a href="#"><div>Instagram Feed</div></a></li>
            <li><a href="#"><div>Posts List</div></a></li>
            <li><a href="#"><div>Twitter Feed</div></a></li>
            <li><a href="#"><div>Tabbed Widgets</div></a></li>
            <li><a href="#"><div>Carousel</div></a></li>
            <li><a href="#"><div>Subscribers</div></a></li>
            <li><a href="#"><div>Social Icons</div></a></li>
            <li><a href="#"><div>Testimonials</div></a></li>
            <li><a href="#"><div>Quick Contact</div></a></li>
            <li><a href="#"><div>Tags Cloud</div></a></li>
            <li><a href="#"><div>Video Embeds</div></a></li>
            <li><a href="#"><div>Raw Text/HTML</div></a></li>
          </ul>
        </li>
        <li><a href="#"><div><i class="icon-umbrella"></i>Headers</div></a>
          <ul>
            <li><a href="/assets/header-light.html"><div>Light Version</div></a></li>
            <li><a href="/assets/header-dark.html"><div>Dark Version</div></a></li>
            <li><a href="/assets/header-transparent.html"><div>Transparent</div></a></li>
            <li><a href="/assets/header-semi-transparent.html"><div>Semi Transparent</div></a>
              <ul>
                <li><a href="/assets/header-semi-transparent.html"><div>Light Version</div></a></li>
                <li><a href="/assets/header-semi-transparent-dark.html"><div>Dark Version</div></a></li>
              </ul>
            </li>
            <li><a href="/assets/header-side-left.html"><div>Left Side Header</div></a>
              <ul>
                <li><a href="/assets/header-side-left.html"><div>Fixed Position</div></a></li>
                <li><a href="/assets/header-side-left-open.html"><div>OnClick Open</div></a></li>
                <li><a href="/assets/header-side-left-open-push.html"><div>Push Content</div></a></li>
              </ul>
            </li>
            <li><a href="/assets/header-side-right.html"><div>Right Side Header</div></a>
              <ul>
                <li><a href="/assets/header-side-right.html"><div>Fixed Position</div></a></li>
                <li><a href="/assets/header-side-right-open.html"><div>OnClick Open</div></a></li>
                <li><a href="/assets/header-side-right-open-push.html"><div>Push Content</div></a></li>
              </ul>
            </li>
            <li><a href="/assets/header-floating.html"><div>Floating Version</div></a></li>
            <li><a href="/assets/static-sticky.html"><div>Static Sticky</div></a></li>
            <li><a href="/assets/responsive-sticky.html"><div>Responsive Sticky</div></a></li>
          </ul>
        </li>
        <li><a href="/assets/side-panel.html"><div><i class="icon-line-layout"></i>Side Panel</div></a></li>
        <li><a href="#"><div><i class="icon-align-justify2"></i>Menu Styles</div></a>
          <ul>
            <li><a href="/assets/header-light.html"><div>Menu - Style 1</div></a></li>
            <li><a href="/assets/menu-2.html"><div>Menu - Style 2</div></a></li>
            <li><a href="/assets/menu-3.html"><div>Menu - Style 3</div></a></li>
            <li><a href="/assets/menu-4.html"><div>Menu - Style 4</div></a></li>
            <li><a href="/assets/menu-5.html"><div>Menu - Style 5</div></a></li>
            <li><a href="/assets/menu-6.html"><div>Menu - Style 6</div></a></li>
            <li><a href="/assets/menu-7.html"><div>Menu - Style 7</div></a></li>
            <li><a href="/assets/menu-8.html"><div>Menu - Style 8</div></a></li>
            <li><a href="/assets/menu-9.html"><div>Menu - Style 9</div></a></li>
            <li><a href="/assets/menu-10.html"><div>Menu - Overlay</div></a></li>
          </ul>
        </li>
        <li><a href="#"><div><i class="icon-ok-sign"></i>Page Titles</div></a>
          <ul>
            <li><a href="/assets/page.html"><div>Left Align</div></a></li>
            <li><a href="/assets/page-title-right.html"><div>Right Align</div></a></li>
            <li><a href="/assets/page-title-center.html"><div>Center Align</div></a></li>
            <li><a href="/assets/page-titledark.html"><div>Dark Style</div></a></li>
            <li><a href="/assets/page-title-pattern.html"><div>Pattern Background</div></a></li>
            <li><a href="/assets/page-title-parallax.html"><div>Parallax Background</div></a>
              <ul>
                <li><a href="/assets/page-title-parallax.html"><div>Default Header</div></a></li>
                <li><a href="/assets/page-title-parallax-header.html"><div>Transparent Header</div></a></li>
              </ul>
            </li>
            <li><a href="/assets/page-title-video.html"><div>HTML5 Video</div></a></li>
            <li><a href="/assets/page-title-nobg.html"><div>No Background</div></a></li>
            <li><a href="/assets/page-title-mini.html"><div>Mini Version</div></a></li>
          </ul>
        </li>
        <li><a href="/assets/contact.html"><div><i class="icon-envelope-alt"></i>Contact Pages</div></a>
          <ul>
            <li><a href="/assets/contact.html">Contact 1</a></li>
            <li><a href="/assets/contact-2.html">Contact 2</a></li>
            <li><a href="/assets/contact-3.html">Contact 3</a></li>
            <li><a href="/assets/contact-4.html">Contact 4</a></li>
            <li><a href="/assets/contact-5.html">Contact 5</a></li>
            <li><a href="/assets/contact-6.html">Contact 6</a></li>
            <li><a href="/assets/contact-7.html">Contact 7</a></li>
          </ul>
        </li>
        <li><a href="/assets/coming-soon.html"><div><i class="icon-time"></i>Coming Soon</div></a>
          <ul>
            <li><a href="/assets/coming-soon.html"><div>Simple Layout</div></a></li>
            <li><a href="/assets/coming-soon-2.html"><div>Parallax Image</div></a></li>
            <li><a href="/assets/coming-soon-3.html"><div>HTML5 Video</div></a></li>
          </ul>
        </li>
        <li><a href="#"><div><i class="icon-adjust"></i>Dark Version</div></a></li>
        <li><a href="#"><div><i class="icon-calendar3"></i>Events</div></a>
          <ul>
            <li><a href="/assets/events-calendar.html"><div>Full Width Calendar</div></a></li>
            <li><a href="/assets/events-list.html"><div>Events List</div></a>
              <ul>
                <li><a href="/assets/events-list.html"><div>Right Sidebar</div></a></li>
                <li><a href="/assets/events-list-left-sidebar.html"><div>Left Sidebar</div></a></li>
                <li><a href="/assets/events-list-both-sidebar.html"><div>Both Sidebar</div></a></li>
                <li><a href="/assets/events-list-fullwidth.html"><div>Full Width</div></a></li>
                <li><a href="/assets/events-list-parallax.html"><div>Parallax List</div></a></li>
              </ul>
            </li>
            <li><a href="/assets/event-single.html"><div>Single Event</div></a>
              <ul>
                <li><a href="/assets/event-single-right-sidebar.html"><div>Right Sidebar</div></a></li>
                <li><a href="/assets/event-single-left-sidebar.html"><div>Left Sidebar</div></a></li>
                <li><a href="/assets/event-single-both-sidebar.html"><div>Both Sidebar</div></a></li>
                <li><a href="/assets/event-single.html"><div>Full Width</div></a></li>
              </ul>
            </li>
            <li><a href="/assets/event-single-full-width-image.html"><div>Single Event - Full</div></a>
              <ul>
                <li><a href="/assets/event-single-full-width-image.html"><div>Parallax Image</div></a></li>
                <li><a href="/assets/event-single-full-width-map.html"><div>Google Map</div></a></li>
                <li><a href="/assets/event-single-full-width-slider.html"><div>Slider Gallery</div></a></li>
                <li><a href="/assets/event-single-full-width-video.html"><div>HTML5 Video</div></a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#footer" data-scrollto="#footer"><div><i class="icon-th"></i>Footers</div></a>
          <ul>
            <li><a href="#footer" data-scrollto="#footer"><div>Footer - Layout 1</div></a></li>
            <li><a href="/assets/footer-2.html#footer"><div>Footer - Layout 2</div></a></li>
            <li><a href="/assets/footer-3.html#footer"><div>Footer - Layout 3</div></a></li>
            <li><a href="/assets/footer-4.html#footer"><div>Footer - Layout 4</div></a></li>
            <li><a href="/assets/footer-5.html#footer"><div>Footer - Layout 5</div></a></li>
            <li><a href="/assets/footer-6.html#footer"><div>Footer - Layout 6</div></a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="mega-menu"><a href="#"><div>Pages</div></a>
      <div class="mega-menu-content style-2 col-4 clearfix">
        <ul>
          <li class="mega-menu-title"><a href="#"><div>Introduction</div></a>
            <ul>
              <li><a href="/assets/about.html"><div>About Us</div></a></li>
              <li><a href="/assets/about-2.html"><div>About Us - Layout 2</div></a></li>
              <li><a href="/assets/about-me.html"><div>About Me</div></a></li>
              <li><a href="/assets/team.html"><div>Team Members</div></a></li>
              <li><a href="/assets/jobs.html"><div>Careers</div></a></li>
              <li><a href="/assets/side-navigation.html"><div>Side Navigation</div></a></li>
              <li><a href="/assets/page-submenu.html"><div>Page Submenu</div></a></li>
              <li><a href="/assets/sitemap.html"><div>Sitemap</div></a></li>
            </ul>
          </li>
        </ul>
        <ul>
          <li class="mega-menu-title"><a href="#"><div>Utility</div></a>
            <ul>
              <li><a href="/assets/services.html"><div>Services - Layout 1</div></a></li>
              <li><a href="/assets/services-2.html"><div>Services - Layout 2</div></a></li>
              <li><a href="/assets/services-3.html"><div>Services - Layout 3</div></a></li>
              <li><a href="/assets/faqs.html"><div>FAQs - Layout 1</div></a></li>
              <li><a href="/assets/faqs-2.html"><div>FAQs - Layout 2</div></a></li>
              <li><a href="/assets/faqs-3.html"><div>FAQs - Layout 3</div></a></li>
              <li><a href="/assets/faqs-4.html"><div>FAQs - Layout 4</div></a></li>
              <li><a href="/assets/maintenance.html"><div>Maintenance Page</div></a></li>
            </ul>
          </li>
        </ul>
        <ul>
          <li class="mega-menu-title"><a href="#"><div>Layout Grids</div></a>
            <ul>
              <li><a href="/assets/full-width.html"><div>Full Width</div></a></li>
              <li><a href="/assets/full-width-wide.html"><div>Full Width - Wide</div></a></li>
              <li><a href="/assets/right-sidebar.html"><div>Right Sidebar</div></a></li>
              <li><a href="/assets/left-sidebar.html"><div>Left Sidebar</div></a></li>
              <li><a href="/assets/both-sidebar.html"><div>Both Sidebar</div></a></li>
              <li><a href="/assets/both-right-sidebar.html"><div>Both Right Sidebar</div></a></li>
              <li><a href="/assets/both-left-sidebar.html"><div>Both Left Sidebar</div></a></li>
              <li><a href="/assets/blank-page.html"><div>Blank Page</div></a></li>
            </ul>
          </li>
        </ul>
        <ul>
          <li class="mega-menu-title"><a href="#"><div>Miscellaneous</div></a>
            <ul>
              <li><a href="/assets/login-register.html"><div>Login/Register</div></a></li>
              <li><a href="/assets/login-register-2.html"><div>Login/Register - Style 2</div></a></li>
              <li><a href="/assets/login-register-3.html"><div>Login/Register - Style 3</div></a></li>
              <li><a href="/assets/login-1.html"><div>Login - Style 1</div></a></li>
              <li><a href="/assets/login-2.html"><div>Login - Style 2</div></a></li>
              <li><a href="/assets/404.html"><div>404 - Simple Layout</div></a></li>
              <li><a href="/assets/404-2.html"><div>404 - Parallax Image</div></a></li>
              <li><a href="/assets/404-3.html"><div>404 - HTML5 Video</div></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li class="mega-menu"><a href="#"><div>Portfolio</div></a>
      <div class="mega-menu-content style-2 col-5 clearfix">
        <ul>
          <li class="mega-menu-title"><a href="#"><div>Grids</div></a>
            <ul>
              <li><a href="/assets/portfolio-1.html"><div>1 Column</div></a></li>
              <li><a href="/assets/portfolio-2.html"><div>2 Columns</div></a></li>
              <li><a href="/assets/portfolio-3.html"><div>3 Columns</div></a></li>
              <li><a href="/assets/portfolio.html"><div>4 Columns</div></a></li>
              <li><a href="/assets/portfolio-5.html"><div>5 Columns</div></a></li>
              <li><a href="/assets/portfolio-6.html"><div>6 Columns</div></a></li>
            </ul>
          </li>
        </ul>
        <ul>
          <li class="mega-menu-title"><a href="#"><div>Masonry</div></a>
            <ul>
              <li><a href="/assets/portfolio-mixed-masonry.html"><div>Mixed Columns</div></a></li>
              <li><a href="/assets/portfolio-2-masonry.html"><div>2 Columns</div></a></li>
              <li><a href="/assets/portfolio-3-masonry.html"><div>3 Columns</div></a></li>
              <li><a href="/assets/portfolio-masonry.html"><div>4 Columns</div></a></li>
              <li><a href="/assets/portfolio-5-masonry.html"><div>5 Columns</div></a></li>
              <li><a href="/assets/portfolio-6-masonry.html"><div>6 Columns</div></a></li>
            </ul>
          </li>
        </ul>
        <ul>
          <li class="mega-menu-title"><a href="#"><div>Loading Styles</div></a>
            <ul>
              <li><a href="/assets/portfolio.html"><div>jQuery Filter</div></a></li>
              <li><a href="/assets/portfolio-pagination.html"><div>Pagination</div></a></li>
              <li><a href="/assets/portfolio-jpagination.html"><div>jQuery Pagination</div></a></li>
              <li><a href="/assets/portfolio-infinity-scroll.html"><div>Infinity Scroll</div></a></li>
              <li><a href="/assets/portfolio-ajax.html"><div>AJAX In Page</div></a></li>
              <li><a href="/assets/portfolio-ajax-in-modal.html"><div>AJAX In Modal</div></a></li>
            </ul>
          </li>
        </ul>
        <ul>
          <li class="mega-menu-title"><a href="#"><div>Single Project</div></a>
            <ul>
              <li><a href="/assets/portfolio-single-extended.html"><div>Extended Item</div></a></li>
              <li><a href="/assets/portfolio-single-fullwidth.html"><div>Parallax Image</div></a></li>
              <li><a href="/assets/portfolio-single-gallery-full.html"><div>Slider Gallery</div></a></li>
              <li><a href="/assets/portfolio-single-video-fullwidth-left-sidebar.html"><div>HTML5 Video</div></a></li>
              <li><a href="/assets/portfolio-single-thumbs-right-sidebar.html"><div>Masonry Thumbs</div></a></li>
              <li><a href="/assets/portfolio-single-video-both-sidebar.html"><div>Embed Video</div></a></li>
            </ul>
          </li>
        </ul>
        <ul>
          <li class="mega-menu-title"><a href="#"><div>Layouts</div></a>
            <ul>
              <li><a href="/assets/portfolio-nomargin.html"><div>Default</div></a></li>
              <li><a href="/assets/portfolio-1-alt-right-sidebar.html"><div>Right Sidebar</div></a></li>
              <li><a href="/assets/portfolio-3-left-sidebar.html"><div>Left Sidebar</div></a></li>
              <li><a href="/assets/portfolio-2-both-sidebar.html"><div>Both Sidebar</div></a></li>
              <li><a href="/assets/portfolio-fullwidth-notitle.html"><div>100% Width</div></a></li>
              <li><a href="/assets/portfolio-parallax.html"><div>Parallax</div></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li class="mega-menu"><a href="#"><div>Blog</div></a>
      <div class="mega-menu-content style-2 col-4 clearfix">
        <ul>
          <li class="mega-menu-title"><a href="#"><div>Default</div></a>
            <ul>
              <li><a href="/assets/blog.html"><div>Right Sidebar</div></a></li>
              <li><a href="/assets/blog-left-sidebar.html"><div>Left Sidebar</div></a></li>
              <li><a href="/assets/blog-both-sidebar.html"><div>Both Sidebar</div></a></li>
              <li><a href="/assets/blog-full-width.html"><div>Full Width</div></a></li>
            </ul>
          </li>
          <li class="mega-menu-title"><a href="#"><div>Timeline</div></a>
            <ul>
              <li><a href="/assets/blog-timeline-right-sidebar.html"><div>Right Sidebar</div></a></li>
              <li><a href="/assets/blog-timeline-left-sidebar.html"><div>Left Sidebar</div></a></li>
              <li><a href="/assets/blog-timeline.html"><div>Full Width</div></a></li>
            </ul>
          </li>
        </ul>
        <ul>
          <li class="mega-menu-title"><a href="#"><div>Masonry</div></a>
            <ul>
              <li><a href="/assets/blog-masonry.html"><div>4 Columns</div></a></li>
              <li><a href="/assets/blog-masonry-3.html"><div>3 Columns</div></a></li>
              <li><a href="/assets/blog-masonry-2.html"><div>2 Columns</div></a></li>
              <li><a href="/assets/blog-masonry-full.html"><div>100% Width</div></a></li>
            </ul>
          </li>
          <li class="mega-menu-title"><a href="#"><div>Grid</div></a>
            <ul>
              <li><a href="/assets/blog-grid.html"><div>4 Columns</div></a></li>
              <li><a href="/assets/blog-grid-3.html"><div>3 Columns</div></a></li>
              <li><a href="/assets/blog-grid-2.html"><div>2 Columns</div></a></li>
            </ul>
          </li>
        </ul>
        <ul>
          <li class="mega-menu-title"><a href="#"><div>Small Thumbs</div></a>
            <ul>
              <li><a href="/assets/blog-small-left-sidebar.html"><div>Left Sidebar</div></a></li>
              <li><a href="/assets/blog-small.html"><div>Right Sidebar</div></a></li>
              <li><a href="/assets/blog-small-both-sidebar.html"><div>Both Sidebar</div></a></li>
              <li><a href="/assets/blog-small-full-width.html"><div>Full Width</div></a></li>
              <li><a href="/assets/blog-small-alt.html"><div>Alternate Layout</div></a></li>
            </ul>
          </li>
          <li class="mega-menu-title"><a href="#"><div>Item Splitting</div></a>
            <ul>
              <li><a href="/assets/blog-grid.html"><div>Pagination</div></a></li>
              <li><a href="/assets/blog-masonry.html"><div>Infinite Scroll</div></a></li>
            </ul>
          </li>
        </ul>
        <ul>
          <li class="mega-menu-title"><a href="#"><div>Single</div></a>
            <ul>
              <li><a href="/assets/blog-single.html"><div>Default Layout</div></a></li>
              <li><a href="/assets/blog-single-left-sidebar.html"><div>Left Sidebar</div></a></li>
              <li><a href="/assets/blog-single-full.html"><div>Full Width</div></a></li>
              <li><a href="/assets/blog-single-small.html"><div>Small Image</div></a></li>
              <li><a href="/assets/blog-single-split-right-sidebar.html"><div>Split Layout</div></a></li>
            </ul>
          </li>
          <li class="mega-menu-title"><a href="#"><div>Comments Module</div></a>
            <ul>
              <li><a href="/assets/blog-single-left-sidebar.html#comments"><div>Facebook Comments</div></a></li>
              <li><a href="/assets/blog-single-small.html#comments"><div>Disqus Comments</div></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li class="current"><a href="/assets/shop.html"><div>Shop</div></a>
      <ul>
        <li><a href="/assets/shop.html"><div>4 Columns</div></a></li>
        <li><a href="/assets/shop-3.html"><div>3 Columns</div></a>
          <ul>
            <li><a href="/assets/shop-3.html"><div>Full Width</div></a></li>
            <li><a href="/assets/shop-3-right-sidebar.html"><div>Right Sidebar</div></a></li>
            <li><a href="/assets/shop-3-left-sidebar.html"><div>Left Sidebar</div></a></li>
          </ul>
        </li>
        <li><a href="/assets/shop-2.html"><div>2 Columns</div></a>
          <ul>
            <li><a href="/assets/shop-2-right-sidebar.html"><div>Right Sidebar</div></a></li>
            <li><a href="/assets/shop-2-left-sidebar.html"><div>Left Sidebar</div></a></li>
            <li><a href="/assets/shop-2-both-sidebar.html"><div>Both Sidebar</div></a></li>
          </ul>
        </li>
        <li><a href="/assets/shop-1.html"><div>1 Columns</div></a>
          <ul>
            <li><a href="/assets/shop-1.html"><div>Full Width</div></a></li>
            <li><a href="/assets/shop-1-right-sidebar.html"><div>Right Sidebar</div></a></li>
            <li><a href="/assets/shop-1-left-sidebar.html"><div>Left Sidebar</div></a></li>
            <li><a href="/assets/shop-1-both-sidebar.html"><div>Both Sidebar</div></a></li>
          </ul>
        </li>
        <li><a href="/assets/shop-category-parallax.html"><div>Categories - Parallax</div></a></li>
        <li><a href="/assets/shop-single.html"><div>Single Product</div></a>
          <ul>
            <li><a href="/assets/shop-single.html"><div>Full Width</div></a></li>
            <li><a href="/assets/shop-single-right-sidebar.html"><div>Right Sidebar</div></a></li>
            <li><a href="/assets/shop-single-left-sidebar.html"><div>Left Sidebar</div></a></li>
            <li><a href="/assets/shop-single-both-sidebar.html"><div>Both Sidebar</div></a></li>
          </ul>
        </li>
        <li><a href="/assets/cart.html"><div>Cart</div></a></li>
        <li><a href="/assets/checkout.html"><div>Checkout</div></a></li>
      </ul>
    </li>
    <li class="mega-menu"><a href="#"><div>Shortcodes</div></a>
      <div class="mega-menu-content col-5 clearfix">
        <ul>
          <li><a href="/assets/animations.html"><div><i class="icon-magic"></i>Animations</div></a></li>
          <li><a href="/assets/buttons.html"><div><i class="icon-link"></i>Buttons</div></a></li>
          <li><a href="/assets/carousel.html"><div><i class="icon-heart3"></i>Carousel</div></a></li>
          <li><a href="/assets/charts.html"><div><i class="icon-bar-chart"></i>Charts</div></a></li>
          <li><a href="/assets/clients.html"><div><i class="icon-apple"></i>Clients</div></a></li>
          <li><a href="/assets/columns-grids.html"><div><i class="icon-th-large"></i>Columns</div></a></li>
          <li><a href="/assets/counters.html"><div><i class="icon-time"></i>Counters</div></a></li>
        </ul>
        <ul>
          <li><a href="/assets/dividers.html"><div><i class="icon-indent-right"></i>Dividers</div></a></li>
          <li><a href="/assets/featured-boxes.html"><div><i class="icon-lightbulb"></i>Icon Boxes</div></a></li>
          <li><a href="/assets/gallery.html"><div><i class="icon-picture"></i>Galleries</div></a></li>
          <li><a href="/assets/headings-dropcaps.html"><div><i class="icon-pencil2"></i>Heading Styles</div></a></li>
          <li><a href="/assets/icon-lists.html"><div><i class="icon-list-alt"></i>Icon Lists</div></a></li>
          <li><a href="/assets/labels-badges.html"><div><i class="icon-plus-sign"></i>Labels</div></a></li>
          <li><a href="/assets/lightbox.html"><div><i class="icon-resize-full"></i>Lightbox</div></a></li>
        </ul>
        <ul>
          <li><a href="/assets/lists-panels.html"><div><i class="icon-th-list"></i>Lists &amp; Panels</div></a></li>
          <li><a href="/assets/maps.html"><div><i class="icon-map-marker2"></i>Maps</div></a></li>
          <li><a href="/assets/media-embeds.html"><div><i class="icon-play"></i>Media Embeds</div></a></li>
          <li><a href="/assets/modal-popovers.html"><div><i class="icon-move"></i>Modal Boxes</div></a></li>
          <li><a href="/assets/navigation.html"><div><i class="icon-align-justify2"></i>Navigations</div></a></li>
          <li><a href="/assets/pagination-progress.html"><div><i class="icon-cogs"></i>Pagination</div></a></li>
          <li><a href="/assets/pie-skills.html"><div><i class="icon-tasks"></i>Pies &amp; Skills</div></a></li>
        </ul>
        <ul>
          <li><a href="/assets/pricing.html"><div><i class="icon-dollar"></i>Pricing Boxes</div></a></li>
          <li><a href="/assets/process-steps.html"><div><i class="icon-thumbs-up"></i>Process Steps</div></a></li>
          <li><a href="/assets/promo-boxes.html"><div><i class="icon-rocket"></i>Promo Boxes</div></a></li>
          <li><a href="/assets/quotes-blockquotes.html"><div><i class="icon-quote-left"></i>Blockquotes</div></a></li>
          <li><a href="/assets/responsive.html"><div><i class="icon-laptop2"></i>Responsive</div></a></li>
          <li><a href="/assets/sections.html"><div><i class="icon-folder-open"></i>Sections</div></a></li>
          <li><a href="/assets/social-icons.html"><div><i class="icon-facebook2"></i>Social Icons</div></a></li>
        </ul>
        <ul>
          <li><a href="/assets/style-boxes.html"><div><i class="icon-exclamation-sign"></i>Alert Boxes</div></a></li>
          <li><a href="/assets/styled-icons.html"><div><i class="icon-flag2"></i>Styled Icons</div></a></li>
          <li><a href="/assets/tables.html"><div><i class="icon-table"></i>Tables</div></a></li>
          <li><a href="/assets/tabs.html"><div><i class="icon-star3"></i>Tabs</div></a></li>
          <li><a href="/assets/testimonials-twitter.html"><div><i class="icon-user4"></i>Testimonials</div></a></li>
          <li><a href="/assets/thumbnails-slider.html"><div><i class="icon-camera3"></i>Thumbnails</div></a></li>
          <li><a href="/assets/toggles-accordions.html"><div><i class="icon-ok-circle"></i>Toggles</div></a></li>
        </ul>
      </div>
    </li>
  </ul>
</ng-template>
