<ng-template #WidgetImageCarouselComponent>
  <div class="widget clearfix">

    <div id="oc-clients-full" class="owl-carousel image-carousel">

      <div class="oc-item"><a href="#"><img src="/assets/canvas/images/clients/1.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="#"><img src="/assets/canvas/images/clients/2.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="#"><img src="/assets/canvas/images/clients/3.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="#"><img src="/assets/canvas/images/clients/4.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="#"><img src="/assets/canvas/images/clients/5.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="#"><img src="/assets/canvas/images/clients/6.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="#"><img src="/assets/canvas/images/clients/7.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="#"><img src="/assets/canvas/images/clients/8.png" alt="Clients"></a></div>

    </div>

  </div>
</ng-template>
