<ng-template #ProductsCarouselFilteredComponent>
  <div class="tabs topmargin-lg clearfix" id="tab-3">

    <ul class="tab-nav clearfix">
      <li *ngFor="let tab of tabs"><button [id]="tab.id">{{tab.title}}</button></li>
    </ul>

    <div class="tab-container">

      <div *ngFor="let tab of tabs" class="tab-content clearfix" [id]="tab.id">

        <div id="oc-products" class="owl-carousel products-carousel">

          <div *ngFor="let item of tab.items" class="oc-item">
            <div class="product iproduct clearfix">

              <div class="product-image">

                <div class="fslider" [attr.data-arrows]="item.fSlider.data_arrows">
                  <div class="flexslider">
                    <div class="slider-wrap">
                      <div *ngFor="let image of item.images" class="slide"><a [href]="'#'+image.href"><img [src]="image.src" [alt]="image.alt"></a></div>
                    </div>
                  </div>
                </div>

                <div *ngIf="item.saleFlash != ''" class="sale-flash">{{item.saleFlash}}</div>
                <div class="product-overlay">
                  <a *ngIf="item.addToCart" href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
                  <a [href]="item.url" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
                </div>
              </div>

              <div class="product-desc center">
                <div class="product-title"><h3><a [href]="item.url">{{item.productTitle}}</a></h3></div>
                <div class="product-price"><del *ngIf="item.productPriceBefore!= ''">{{item.productCoin.symbol + item.productPriceBefore}}</del> <ins>{{item.productCoin.symbol + item.productPrice}}</ins></div>
                <div class="product-rating">
                  <i *ngFor="let rate of item.productRating" [classList]="rate.class_icon"></i>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
</ng-template>
