<ng-template #WidgetRecentItemsComponent>
  <div class="widget clearfix">

    <h4>Recent Items</h4>
    <div id="post-list-footer">

      <div class="spost clearfix">
        <div class="entry-image">
          <a href="#"><img src="/assets/canvas/images/shop/small/1.jpg" alt="Image"></a>
        </div>
        <div class="entry-c">
          <div class="entry-title">
            <h4><a href="#">Blue Round-Neck Tshirt</a></h4>
          </div>
          <ul class="entry-meta">
            <li class="color">$29.99</li>
            <li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li>
          </ul>
        </div>
      </div>

      <div class="spost clearfix">
        <div class="entry-image">
          <a href="#"><img src="/assets/canvas/images/shop/small/6.jpg" alt="Image"></a>
        </div>
        <div class="entry-c">
          <div class="entry-title">
            <h4><a href="#">Checked Short Dress</a></h4>
          </div>
          <ul class="entry-meta">
            <li class="color">$23.99</li>
            <li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i> <i class="icon-star-empty"></i></li>
          </ul>
        </div>
      </div>

      <div class="spost clearfix">
        <div class="entry-image">
          <a href="#"><img src="/assets/canvas/images/shop/small/7.jpg" alt="Image"></a>
        </div>
        <div class="entry-c">
          <div class="entry-title">
            <h4><a href="#">Light Blue Denim Dress</a></h4>
          </div>
          <ul class="entry-meta">
            <li class="color">$19.99</li>
            <li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</ng-template>
