<ng-template #WidgetDribbleShotsComponent>
  <div class="widget clearfix">

    <h4>Dribbble Shots</h4>
    <div id="dribbble-widget" class="dribbble-shots masonry-thumbs" data-user="envato" data-count="16" data-type="user"></div>

  </div>
</ng-template>
