<app-header-five></app-header-five>

<!-- Page Title
        ============================================= -->
<section id="page-title" class="page-title-parallax page-title-dark" style="padding: 250px 0; background-image: url('/assets/canvas/images/about/parallax.jpg'); background-size: cover; background-position: center center;" data-stellar-background-ratio="0.4">

  <div class="container clearfix">
    <h1>About Us</h1>
    <span>Everything you need to know about our Company</span>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Pages</a></li>
      <li class="active">About Us</li>
    </ol>
  </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="col_one_third">

        <div class="heading-block fancy-title nobottomborder title-bottom-border">
          <h4>Why choose <span>Us</span>.</h4>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

      </div>

      <div class="col_one_third">

        <div class="heading-block fancy-title nobottomborder title-bottom-border">
          <h4>Our <span>Mission</span>.</h4>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

      </div>

      <div class="col_one_third col_last">

        <div class="heading-block fancy-title nobottomborder title-bottom-border">
          <h4>What we <span>Do</span>.</h4>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

      </div>

    </div>

    <div class="section nomargin">
      <div class="container clearfix">

        <div class="col_one_fourth nobottommargin center" data-animate="bounceIn">
          <i class="i-plain i-xlarge divcenter icon-line2-directions"></i>
          <div class="counter counter-lined"><span data-from="100" data-to="846" data-refresh-interval="50" data-speed="2000"></span>K+</div>
          <h5>Lines of Codes</h5>
        </div>

        <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="200">
          <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-graph"></i>
          <div class="counter counter-lined"><span data-from="3000" data-to="15360" data-refresh-interval="100" data-speed="2500"></span>+</div>
          <h5>KBs of HTML Files</h5>
        </div>

        <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="400">
          <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-layers"></i>
          <div class="counter counter-lined"><span data-from="10" data-to="408" data-refresh-interval="25" data-speed="3500"></span>*</div>
          <h5>No. of Templates</h5>
        </div>

        <div class="col_one_fourth nobottommargin center col_last" data-animate="bounceIn" data-delay="600">
          <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-clock"></i>
          <div class="counter counter-lined"><span data-from="60" data-to="1200" data-refresh-interval="30" data-speed="2700"></span>+</div>
          <h5>Hours of Coding</h5>
        </div>

      </div>
    </div>

    <div class="row common-height clearfix">

      <div class="col-sm-5 col-padding" style="background: url('/assets/canvas/images/team/3.jpg') center center no-repeat; background-size: cover;"></div>

      <div class="col-sm-7 col-padding">
        <div>
          <div class="heading-block">
            <span class="before-heading color">CEO &amp; Co-Founder</span>
            <h3>John Doe</h3>
          </div>

          <div class="row clearfix">

            <div class="col-md-6">
              <p>Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.</p>
              <p>Advancement, promising development John Lennon, our ambitions involvement underprivileged billionaire philanthropy save the world transform. Carbon rights maintain healthcare emergent, implementation inspire social change solve clean water livelihoods.</p>
              <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
              </a>
              <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a>
              <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                <i class="icon-gplus"></i>
                <i class="icon-gplus"></i>
              </a>
            </div>

            <div class="col-md-6">
              <ul class="skills">
                <li data-percent="80">
                  <span>Wordpress</span>
                  <div class="progress">
                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="80" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                  </div>
                </li>
                <li data-percent="60">
                  <span>CSS3</span>
                  <div class="progress">
                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="60" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                  </div>
                </li>
                <li data-percent="90">
                  <span>HTML5</span>
                  <div class="progress">
                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="90" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                  </div>
                </li>
                <li data-percent="70">
                  <span>jQuery</span>
                  <div class="progress">
                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="70" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                  </div>
                </li>
                <li data-percent="85">
                  <span>Ruby</span>
                  <div class="progress">
                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="85" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                  </div>
                </li>
              </ul>
            </div>

          </div>

        </div>
      </div>

    </div>

    <div class="row common-height bottommargin-lg clearfix">

      <div class="col-sm-7 col-padding" style="background-color: #F5F5F5;">
        <div>
          <div class="heading-block">
            <span class="before-heading color">Developer &amp; Evangelist</span>
            <h3>Mary Jane</h3>
          </div>

          <div class="row clearfix">

            <div class="col-md-6">
              <p>Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.</p>
              <p>Advancement, promising development John Lennon, our ambitions involvement underprivileged billionaire philanthropy save the world transform. Carbon rights maintain healthcare emergent, implementation inspire social change solve clean water livelihoods.</p>
              <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
              </a>
              <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a>
              <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                <i class="icon-gplus"></i>
                <i class="icon-gplus"></i>
              </a>
            </div>

            <div class="col-md-6">
              <ul class="skills">
                <li data-percent="80">
                  <span>Wordpress</span>
                  <div class="progress">
                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="80" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                  </div>
                </li>
                <li data-percent="60">
                  <span>CSS3</span>
                  <div class="progress">
                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="60" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                  </div>
                </li>
                <li data-percent="90">
                  <span>HTML5</span>
                  <div class="progress">
                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="90" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                  </div>
                </li>
                <li data-percent="70">
                  <span>jQuery</span>
                  <div class="progress">
                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="70" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                  </div>
                </li>
                <li data-percent="85">
                  <span>Ruby</span>
                  <div class="progress">
                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="85" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                  </div>
                </li>
              </ul>
            </div>

          </div>

        </div>
      </div>

      <div class="col-sm-5 col-padding" style="background: url('/assets/canvas/images/team/8.jpg') center center no-repeat; background-size: cover;"></div>

    </div>

    <div class="container clearfix">

      <div class="clear"></div>

      <div class="heading-block center">
        <h4>Our Clients</h4>
      </div>

      <ul class="clients-grid grid-6 nobottommargin clearfix">
        <li><a href="http://logofury.com/logo/enzo.html"><img src="/assets/canvas/images/clients/1.png" alt="Clients"></a></li>
        <li><a href="http://logofury.com"><img src="/assets/canvas/images/clients/2.png" alt="Clients"></a></li>
        <li><a href="http://logofaves.com/2014/03/grabbt/"><img src="/assets/canvas/images/clients/3.png" alt="Clients"></a></li>
        <li><a href="http://logofaves.com/2014/01/ladera-granola/"><img src="/assets/canvas/images/clients/4.png" alt="Clients"></a></li>
        <li><a href="http://logofaves.com/2014/02/hershel-farms/"><img src="/assets/canvas/images/clients/5.png" alt="Clients"></a></li>
        <li><a href="http://logofury.com/logo/food-fight-radio.html"><img src="/assets/canvas/images/clients/6.png" alt="Clients"></a></li>
        <li><a href="http://logofury.com"><img src="/assets/canvas/images/clients/7.png" alt="Clients"></a></li>
        <li><a href="http://logofury.com/logo/up-travel.html"><img src="/assets/canvas/images/clients/8.png" alt="Clients"></a></li>
        <li><a href="http://logofury.com/logo/caffi-bardi.html"><img src="/assets/canvas/images/clients/9.png" alt="Clients"></a></li>
        <li><a href="http://logofury.com/logo/bignix-design.html"><img src="/assets/canvas/images/clients/10.png" alt="Clients"></a></li>
        <li><a href="http://logofury.com/"><img src="/assets/canvas/images/clients/11.png" alt="Clients"></a></li>
        <li><a href="http://logofury.com/"><img src="/assets/canvas/images/clients/12.png" alt="Clients"></a></li>
      </ul>

    </div>

    <div class="section footer-stick">

      <h4 class="uppercase center">What <span>Clients</span> Say?</h4>

      <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
        <div class="flexslider">
          <div class="slider-wrap">
            <div class="slide">
              <div class="testi-image">
                <a href="#"><img src="/assets/canvas/images/testimonials/3.jpg" alt="Customer Testimonails"></a>
              </div>
              <div class="testi-content">
                <p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
                <div class="testi-meta">
                  Steve Jobs
                  <span>Apple Inc.</span>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="testi-image">
                <a href="#"><img src="/assets/canvas/images/testimonials/2.jpg" alt="Customer Testimonails"></a>
              </div>
              <div class="testi-content">
                <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                <div class="testi-meta">
                  Collis Ta'eed
                  <span>Envato Inc.</span>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="testi-image">
                <a href="#"><img src="/assets/canvas/images/testimonials/1.jpg" alt="Customer Testimonails"></a>
              </div>
              <div class="testi-content">
                <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
                <div class="testi-meta">
                  John Doe
                  <span>XYZ Inc.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</section><!-- #content end -->

<app-footer></app-footer>
