<ng-template #FooterTwoComponent>
  <div class="row">
    <div class="col-md-6">
      Copyright Example Company
    </div>
    <div class="col-md-6 text-right">
      <small>© 2014-2015</small>
    </div>
  </div>
</ng-template>
