<app-header-one></app-header-one>

<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Contact</h1>
    <span>Get in Touch with Us</span>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">Contact</li>
    </ol>
  </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <!-- Contact Form
      ============================================= -->
      <div class="col_half">

        <div class="fancy-title title-dotted-border">
          <h3>Send us an Email</h3>
        </div>

        <div id="contact-form-result" data-notify-type="success" data-notify-msg="<i class=icon-ok-sign></i> Message Sent Successfully!"></div>

        <app-postcontent></app-postcontent>

      </div><!-- Contact Form End -->

      <app-google-map-two></app-google-map-two>

      <div class="clear"></div>

      <app-contact-info></app-contact-info>

    </div>

  </div>

</section><!-- #content end -->

<app-footer></app-footer>
