<ng-template #BannerIndexComponent>
  <section id="slider" class="slider-parallax revslider-wrap ohidden clearfix">

    <!--
    #################################
        - THEMEPUNCH BANNER -
    #################################
    -->
    <div class="tp-banner-container">
      <div class="tp-banner" >
        <ul>    <!-- SLIDE  -->

          <li *ngFor="let slide of slides"
              [attr.data-transition]="slide.data_transition"
              [attr.data-slotamount]="slide.data_slotamount"
              [attr.data-masterspeed]="slide.data_masterspeed"
              [attr.data-delay]="slide.data_delay"
              [attr.data-saveperformance]="slide.data_saveperformance"
              [attr.data-title]="slide.data_title"
              [style]="slide.style">
            <!-- LAYERS -->

            <!-- LAYER NR. 2 -->
            <div *ngFor="let layer of slide.layers" class="tp-caption customin ltl tp-resizeme {{layer.classList}}"
                 [attr.data-x]="layer.data_x"
                 [attr.data-y]="layer.data_y"
                 [attr.data-customin]="layer.data_customin"
                 [attr.data-speed]="layer.data_speed"
                 [attr.data-start]="layer.data_start"
                 [attr.data-easing]="layer.data_easing"
                 [attr.data-splitin]="layer.data_splitin"
                 [attr.data-splitout]="layer.data_splitout"
                 [attr.data-elementdelay]="layer.data_elementdelay"
                 [attr.data-endelementdelay]="layer.data_endelementdelay"
                 [attr.data-endspeed]="layer.data_endspeed"
                 [attr.data-endeasing]="layer.data_endeasing"
                 [style]="layer.style"
                 [innerHTML]="layer.text"
            >
            </div>

          </li>
        </ul>
      </div>
    </div>

    <!-- END REVOLUTION SLIDER -->
    <div class="container clearfix">

      <app-carousel-brands-index></app-carousel-brands-index>

    </div>

  </section>

</ng-template>
