
<app-navbar-top-simple></app-navbar-top-simple>

<app-carousel-fade></app-carousel-fade>

<app-features-services></app-features-services>

<app-features-custom></app-features-custom>

<app-team-gray></app-team-gray>

<app-features></app-features>

<app-timeline-gray></app-timeline-gray>

<app-testimonials></app-testimonials>

<app-comments-gray></app-comments-gray>

<app-feature-navy></app-feature-navy>

<app-pricing-plan></app-pricing-plan>

<app-contact-gray></app-contact-gray>
