<app-header-one></app-header-one>

<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Contact</h1>
    <span>Get in Touch with Us</span>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">Contact</li>
    </ol>
  </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <!-- Post Content
      ============================================= -->
      <div class="postcontent nobottommargin">

        <app-google-map-one></app-google-map-one>

        <!-- Contact Form
                                ============================================= -->
        <h3>Send us an Email</h3>

        <div id="contact-form-result" data-notify-type="success" data-notify-msg="<i class=icon-ok-sign></i> Message Sent Successfully!"></div>

        <app-postcontent></app-postcontent>

        <div class="line"></div>

        <div class="col_two_third nobottommargin">

          <!-- Testimonials
          ============================================= -->
          <div class="fslider customjs testimonial twitter-scroll twitter-feed" data-username="envato" data-count="3" data-animation="slide" data-arrows="false">
            <i class="i-plain i-large color icon-twitter nobottommargin" style="margin-right: 20px;"></i>
            <div class="flexslider" style="width: auto;">
              <div class="slider-wrap">
                <div class="slide"></div>
              </div>
            </div>
          </div>

        </div>

        <app-contact-info-simple></app-contact-info-simple>

      </div>

      <!-- Sidebar
      ============================================= -->
      <div class="sidebar nobottommargin col_last clearfix">
        <div class="sidebar-widgets-wrap">

          <app-widget-shortcodes></app-widget-shortcodes>

          <app-widget-dribble-shots></app-widget-dribble-shots>

          <app-widget-twitter-feed></app-widget-twitter-feed>

        </div>
      </div><!-- .sidebar end -->

    </div>

  </div>

</section><!-- #content end -->

<app-footer></app-footer>
