<app-header-one></app-header-one>

<!-- Page Title
    ============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Contact</h1>
    <span>Get in Touch with Us</span>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">Contact</li>
    </ol>
  </div>

</section><!-- #page-title end -->

<app-google-map-one></app-google-map-one>

<!-- Content
    ============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">
      <!-- Postcontent
                           ============================================= -->
      <div class="postcontent nobottommargin">

        <h3>Send us an Email</h3>

        <div id="contact-form-result" data-notify-type="success" data-notify-msg="<i class=icon-ok-sign></i> Message Sent Successfully!"></div>

        <app-postcontent></app-postcontent>

      </div><!-- .postcontent end -->
      <!-- Sidebar
                      ============================================= -->
      <div class="sidebar col_last nobottommargin">

        <app-address-info></app-address-info>

        <app-widget-fslider></app-widget-fslider>

        <app-widget-social-icons></app-widget-social-icons>

      </div><!-- .sidebar end -->

      <div class="clear"></div>

      <app-contact-info></app-contact-info>

    </div>

  </div>

</section><!-- #content end -->

<app-footer></app-footer>
