<ng-template #GoogleMapTwoComponent>
  <!-- Google Map
      ============================================= -->
  <div class="col_half col_last">

    <section id="google-map" class="gmap" style="height: 410px;"></section>

  </div><!-- Google Map End -->
</ng-template>
