<ng-template #HeaderEightComponent>
  <app-topbar-four></app-topbar-four>

  <!-- Header
  ============================================= -->
  <header id="header" class="sticky-style-2">

    <div class="container clearfix">

      <app-logo></app-logo>

      <app-header-extras-email></app-header-extras-email>

    </div>

    <div id="header-wrap">

      <app-navbar-one></app-navbar-one>

    </div>

  </header><!-- #header end -->
</ng-template>
