<ng-template #CommentsGrayComponent>
  <section class="comments gray-section" style="margin-top: 0">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1>What our partners say</h1>
          <p>Donec sed odio dui. Etiam porta sem malesuada. </p>
        </div>
      </div>
      <div class="row features-block">
        <div class="col-lg-4">
          <div class="bubble">
            "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
          </div>
          <div class="comments-avatar">
            <a href="" class="pull-left">
              <img alt="image" src="/assets/inspinia/img/landing/avatar3.jpg">
            </a>
            <div class="media-body">
              <div class="commens-name">
                Andrew Williams
              </div>
              <small class="text-muted">Company X from California</small>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="bubble">
            "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
          </div>
          <div class="comments-avatar">
            <a href="" class="pull-left">
              <img alt="image" src="/assets/inspinia/img/landing/avatar1.jpg">
            </a>
            <div class="media-body">
              <div class="commens-name">
                Andrew Williams
              </div>
              <small class="text-muted">Company X from California</small>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="bubble">
            "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
          </div>
          <div class="comments-avatar">
            <a href="" class="pull-left">
              <img alt="image" src="/assets/inspinia/img/landing/avatar2.jpg">
            </a>
            <div class="media-body">
              <div class="commens-name">
                Andrew Williams
              </div>
              <small class="text-muted">Company X from California</small>
            </div>
          </div>
        </div>



      </div>
    </div>

  </section>

</ng-template>
