<ng-template #CarouselProjectsComponent>
  <div class="container clearfix">

    <div class="heading-block center">
      <h3>Some of our <span>Featured</span> Works</h3>
      <span>We have worked on some Awesome Projects that are worth boasting of.</span>
    </div>

    <div id="oc-portfolio" class="owl-carousel portfolio-carousel portfolio-nomargin">

      <div class="oc-item">
        <div class="iportfolio">
          <div class="portfolio-image">
            <a href="portfolio-single.html">
              <img src="/assets/canvas/images/portfolio/4/1.jpg" alt="Open Imagination">
            </a>
            <div class="portfolio-overlay">
              <a href="/assets/canvas/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
              <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
            </div>
          </div>
          <div class="portfolio-desc">
            <h3><a href="portfolio-single.html">Open Imagination</a></h3>
            <span><a href="#">Media</a>, <a href="#">Icons</a></span>
          </div>
        </div>
      </div>

      <div class="oc-item">
        <div class="iportfolio">
          <div class="portfolio-image">
            <a href="portfolio-single.html">
              <img src="/assets/canvas/images/portfolio/4/2.jpg" alt="Locked Steel Gate">
            </a>
            <div class="portfolio-overlay">
              <a href="/assets/canvas/images/portfolio/full/2.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
              <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
            </div>
          </div>
          <div class="portfolio-desc">
            <h3><a href="portfolio-single.html">Locked Steel Gate</a></h3>
            <span><a href="#">Illustrations</a></span>
          </div>
        </div>
      </div>

      <div class="oc-item">
        <div class="iportfolio">
          <div class="portfolio-image">
            <a href="#">
              <img src="/assets/canvas/images/portfolio/4/3.jpg" alt="Mac Sunglasses">
            </a>
            <div class="portfolio-overlay">
              <a href="http://vimeo.com/89396394" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
              <a href="portfolio-single-video.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
            </div>
          </div>
          <div class="portfolio-desc">
            <h3><a href="portfolio-single-video.html">Mac Sunglasses</a></h3>
            <span><a href="#">Graphics</a>, <a href="#">UI Elements</a></span>
          </div>
        </div>
      </div>

      <div class="oc-item">
        <div class="iportfolio">
          <div class="portfolio-image">
            <a href="portfolio-single.html">
              <img src="/assets/canvas/images/portfolio/4/5.jpg" alt="Console Activity">
            </a>
            <div class="portfolio-overlay">
              <a href="/assets/canvas/images/portfolio/full/5.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
              <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
            </div>
          </div>
          <div class="portfolio-desc">
            <h3><a href="portfolio-single.html">Console Activity</a></h3>
            <span><a href="#">UI Elements</a>, <a href="#">Media</a></span>
          </div>
        </div>
      </div>

      <div class="oc-item">
        <div class="iportfolio">
          <div class="portfolio-image">
            <a href="portfolio-single-video.html">
              <img src="/assets/canvas/images/portfolio/4/7.jpg" alt="Backpack Contents">
            </a>
            <div class="portfolio-overlay">
              <a href="http://www.youtube.com/watch?v=kuceVNBTJio" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
              <a href="portfolio-single-video.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
            </div>
          </div>
          <div class="portfolio-desc">
            <h3><a href="portfolio-single-video.html">Backpack Contents</a></h3>
            <span><a href="#">UI Elements</a>, <a href="#">Icons</a></span>
          </div>
        </div>
      </div>

      <div class="oc-item">
        <div class="iportfolio">
          <div class="portfolio-image">
            <a href="portfolio-single.html">
              <img src="/assets/canvas/images/portfolio/4/8.jpg" alt="Sunset Bulb Glow">
            </a>
            <div class="portfolio-overlay">
              <a href="/assets/canvas/images/portfolio/full/8.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
              <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
            </div>
          </div>
          <div class="portfolio-desc">
            <h3><a href="portfolio-single.html">Sunset Bulb Glow</a></h3>
            <span><a href="#">Graphics</a></span>
          </div>
        </div>
      </div>

      <div class="oc-item">
        <div class="iportfolio">
          <div class="portfolio-image">
            <a href="portfolio-single-video.html">
              <img src="/assets/canvas/images/portfolio/4/10.jpg" alt="Study Table">
            </a>
            <div class="portfolio-overlay">
              <a href="http://vimeo.com/91973305" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
              <a href="portfolio-single-video.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
            </div>
          </div>
          <div class="portfolio-desc">
            <h3><a href="portfolio-single-video.html">Study Table</a></h3>
            <span><a href="#">Graphics</a>, <a href="#">Media</a></span>
          </div>
        </div>
      </div>

      <div class="oc-item">
        <div class="iportfolio">
          <div class="portfolio-image">
            <a href="portfolio-single.html">
              <img src="/assets/canvas/images/portfolio/4/11.jpg" alt="Workspace Stuff">
            </a>
            <div class="portfolio-overlay">
              <a href="/assets/canvas/images/portfolio/full/11.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
              <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
            </div>
          </div>
          <div class="portfolio-desc">
            <h3><a href="portfolio-single.html">Workspace Stuff</a></h3>
            <span><a href="#">Media</a>, <a href="#">Icons</a></span>
          </div>
        </div>
      </div>

    </div>

  </div>
</ng-template>
