<ng-template #WidgetFsliderComponent>
  <div class="widget noborder notoppadding">

    <div class="fslider customjs testimonial twitter-scroll twitter-feed" data-username="envato" data-count="3" data-animation="slide" data-arrows="false">
      <i class="i-plain i-small color icon-twitter nobottommargin" style="margin-right: 15px;"></i>
      <div class="flexslider" style="width: auto;">
        <div class="slider-wrap">
          <div class="slide"></div>
        </div>
      </div>
    </div>

  </div>
</ng-template>
