<ng-template #HeaderFourComponent>
  <!-- Header
          ============================================= -->
  <header id="header" class="transparent-header page-section dark">

    <div id="header-wrap">

      <div class="container clearfix">

        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

        <app-logo></app-logo>

        <app-menu-one></app-menu-one>

      </div>

    </div>

  </header><!-- #header end -->
</ng-template>
