<div id="wrapper">

  <app-sidebar-left></app-sidebar-left>

  <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
      <app-navbar-one></app-navbar-one>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-8">
        <h2>Calendar</h2>
        <ol class="breadcrumb">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            Extra pages
          </li>
          <li class="active">
            <strong>Calendar</strong>
          </li>
        </ol>
      </div>
    </div>
    <div class="wrapper wrapper-content">
      <div class="row animated fadeInDown">
        <div class="col-lg-3">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Draggable Events</h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                  <li><a href="#">Config option 1</a>
                  </li>
                  <li><a href="#">Config option 2</a>
                  </li>
                </ul>
                <a class="close-link">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content">
              <div id='external-events'>
                <p>Drag a event and drop into callendar.</p>
                <div class='external-event navy-bg'>Go to shop and buy some products.</div>
                <div class='external-event navy-bg'>Check the new CI from Corporation.</div>
                <div class='external-event navy-bg'>Send documents to John.</div>
                <div class='external-event navy-bg'>Phone to Sandra.</div>
                <div class='external-event navy-bg'>Chat with Michael.</div>
                <p class="m-t">
                  <input type='checkbox' id='drop-remove' class="i-checks" checked /> <label for='drop-remove'>remove after drop</label>
                </p>
              </div>
            </div>
          </div>
          <div class="ibox float-e-margins">
            <div class="ibox-content">
              <h2>FullCalendar</h2> is a jQuery plugin that provides a full-sized, drag & drop calendar like the one below. It uses AJAX to fetch events on-the-fly for each month and is
              easily configured to use your own feed format (an extension is provided for Google Calendar).
              <p>
                <a href="http://arshaw.com/fullcalendar/" target="_blank">FullCalendar documentation</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Striped Table </h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                  <li><a href="#">Config option 1</a>
                  </li>
                  <li><a href="#">Config option 2</a>
                  </li>
                </ul>
                <a class="close-link">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content">
              <div id="calendar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer-one></app-footer-one>

  </div>
</div>
