<ng-template #WidgetRecentPostComponent>
  <div class="widget clearfix">
    <h4>Recent Posts</h4>

    <div id="post-list-footer">
      <div class="spost clearfix">
        <div class="entry-c">
          <div class="entry-title">
            <h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
          </div>
          <ul class="entry-meta">
            <li>10th July 2014</li>
          </ul>
        </div>
      </div>

      <div class="spost clearfix">
        <div class="entry-c">
          <div class="entry-title">
            <h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
          </div>
          <ul class="entry-meta">
            <li>10th July 2014</li>
          </ul>
        </div>
      </div>

      <div class="spost clearfix">
        <div class="entry-c">
          <div class="entry-title">
            <h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
          </div>
          <ul class="entry-meta">
            <li>10th July 2014</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-template>
