<div id="wrapper">

  <app-sidebar-left></app-sidebar-left>

  <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
      <app-navbar-two></app-navbar-two>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
        <h2>E-commerce grid</h2>
        <ol class="breadcrumb">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a>E-commerce</a>
          </li>
          <li class="active">
            <strong>Products grid</strong>
          </li>
        </ol>
      </div>
      <div class="col-lg-2">

      </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-md-3">
          <div class="ibox">
            <div class="ibox-content product-box">

              <div class="product-imitation">
                [ INFO ]
              </div>
              <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                <small class="text-muted">Category</small>
                <a href="#" class="product-name"> Product</a>



                <div class="small m-t-xs">
                  Many desktop publishing packages and web page editors now.
                </div>
                <div class="m-t text-righ">

                  <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ibox">
            <div class="ibox-content product-box">

              <div class="product-imitation">
                [ INFO ]
              </div>
              <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                <small class="text-muted">Category</small>
                <a href="#" class="product-name"> Product</a>



                <div class="small m-t-xs">
                  Many desktop publishing packages and web page editors now.
                </div>
                <div class="m-t text-righ">

                  <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ibox">
            <div class="ibox-content product-box active">

              <div class="product-imitation">
                [ INFO ]
              </div>
              <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                <small class="text-muted">Category</small>
                <a href="#" class="product-name"> Product</a>



                <div class="small m-t-xs">
                  Many desktop publishing packages and web page editors now.
                </div>
                <div class="m-t text-righ">

                  <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ibox">
            <div class="ibox-content product-box">

              <div class="product-imitation">
                [ INFO ]
              </div>
              <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                <small class="text-muted">Category</small>
                <a href="#" class="product-name"> Product</a>



                <div class="small m-t-xs">
                  Many desktop publishing packages and web page editors now.
                </div>
                <div class="m-t text-righ">

                  <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>






      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="ibox">
            <div class="ibox-content product-box">

              <div class="product-imitation">
                [ INFO ]
              </div>
              <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                <small class="text-muted">Category</small>
                <a href="#" class="product-name"> Product</a>



                <div class="small m-t-xs">
                  Many desktop publishing packages and web page editors now.
                </div>
                <div class="m-t text-righ">

                  <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ibox">
            <div class="ibox-content product-box">

              <div class="product-imitation">
                [ INFO ]
              </div>
              <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                <small class="text-muted">Category</small>
                <a href="#" class="product-name"> Product</a>



                <div class="small m-t-xs">
                  Many desktop publishing packages and web page editors now.
                </div>
                <div class="m-t text-righ">

                  <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ibox">
            <div class="ibox-content product-box">

              <div class="product-imitation">
                [ INFO ]
              </div>
              <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                <small class="text-muted">Category</small>
                <a href="#" class="product-name"> Product</a>



                <div class="small m-t-xs">
                  Many desktop publishing packages and web page editors now.
                </div>
                <div class="m-t text-righ">

                  <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ibox">
            <div class="ibox-content product-box">

              <div class="product-imitation">
                [ INFO ]
              </div>
              <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                <small class="text-muted">Category</small>
                <a href="#" class="product-name"> Product</a>



                <div class="small m-t-xs">
                  Many desktop publishing packages and web page editors now.
                </div>
                <div class="m-t text-righ">

                  <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="ibox">
            <div class="ibox-content product-box">

              <div class="product-imitation">
                [ INFO ]
              </div>
              <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                <small class="text-muted">Category</small>
                <a href="#" class="product-name"> Product</a>



                <div class="small m-t-xs">
                  Many desktop publishing packages and web page editors now.
                </div>
                <div class="m-t text-righ">

                  <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ibox">
            <div class="ibox-content product-box">

              <div class="product-imitation">
                [ INFO ]
              </div>
              <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                <small class="text-muted">Category</small>
                <a href="#" class="product-name"> Product</a>



                <div class="small m-t-xs">
                  Many desktop publishing packages and web page editors now.
                </div>
                <div class="m-t text-righ">

                  <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ibox">
            <div class="ibox-content product-box">

              <div class="product-imitation">
                [ INFO ]
              </div>
              <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                <small class="text-muted">Category</small>
                <a href="#" class="product-name"> Product</a>



                <div class="small m-t-xs">
                  Many desktop publishing packages and web page editors now.
                </div>
                <div class="m-t text-righ">

                  <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ibox">
            <div class="ibox-content product-box">

              <div class="product-imitation">
                [ INFO ]
              </div>
              <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                <small class="text-muted">Category</small>
                <a href="#" class="product-name"> Product</a>



                <div class="small m-t-xs">
                  Many desktop publishing packages and web page editors now.
                </div>
                <div class="m-t text-righ">

                  <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <app-footer-one></app-footer-one>
  </div>
</div>
