<ng-template #CarouselSingleProductComponent>

  <!-- Product Single - Gallery
              ============================================= -->
  <div class="product-image">
    <div id="oc-images" class="owl-carousel image-carousel" data-lightbox="gallery">

      <div class="oc-item">
        <a href="/assets/canvas/images/shop/dress/3.jpg" title="Pink Printed Dress - Front View" data-lightbox="gallery-item"><img src="/assets/canvas/images/shop/dress/3.jpg" alt="Pink Printed Dress"></a>
      </div>
      <div class="oc-item">
        <a href="/assets/canvas/images/shop/dress/3-1.jpg" title="Pink Printed Dress - Side View" data-lightbox="gallery-item"><img src="/assets/canvas/images/shop/dress/3-1.jpg" alt="Pink Printed Dress"></a>
      </div>
      <div class="oc-item">
        <a href="/assets/canvas/images/shop/dress/3-2.jpg" title="Pink Printed Dress - Back View" data-lightbox="gallery-item"><img src="/assets/canvas/images/shop/dress/3-2.jpg" alt="Pink Printed Dress"></a>
      </div>

    </div>

    <div class="sale-flash">Sale!</div>
  </div><!-- Product Single - Gallery End -->

</ng-template>
