<ng-template #HeaderTwoShopComponent>
  <!-- Header
          ============================================= -->
  <header id="header">

    <div id="header-wrap">

      <div class="container clearfix">

        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

        <app-logo></app-logo>

        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu">

          <app-unordered-list-shop style="display: none"></app-unordered-list-shop>

          <app-top-cart></app-top-cart>

          <app-top-search></app-top-search>

        </nav><!-- #primary-menu end -->

      </div>

    </div>

  </header><!-- #header end -->
</ng-template>
