<ng-template #FooterComponent>
  <!-- Footer
          ============================================= -->
  <footer id="footer" class="dark">

    <div class="container">

      <!-- Footer Widgets
      ============================================= -->
      <div class="footer-widgets-wrap clearfix">

        <div class="col_two_third">

          <div class="col_one_third">

            <app-widget-logo></app-widget-logo>

          </div>

          <div class="col_one_third">

            <app-widget-links></app-widget-links>

          </div>

          <div class="col_one_third col_last">

            <app-widget-recent-post></app-widget-recent-post>

          </div>

        </div>

        <div class="col_one_third col_last">

          <app-widget-counter></app-widget-counter>

          <app-widget-subscribe></app-widget-subscribe>

          <app-widget-social-icons-bg></app-widget-social-icons-bg>

        </div>

      </div><!-- .footer-widgets-wrap end -->

    </div>

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">

      <div class="container clearfix">

        <div class="col_half">
          Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.<br>
          <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
        </div>

        <div class="col_half col_last tright">

          <app-widget-social-icons-dark></app-widget-social-icons-dark>

          <div class="clear"></div>

          <i class="icon-envelope2"></i> info@canvas.com <span class="middot">&middot;</span> <i class="icon-headphones"></i> +91-11-6541-6369 <span class="middot">&middot;</span> <i class="icon-skype2"></i> CanvasOnSkype

        </div>

      </div>

    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->
</ng-template>
