<ng-template #TopbarIndexComponent>
  <!-- Top Bar
          ============================================= -->
  <div id="top-bar" class="hidden-xs">

    <div class="container clearfix">

      <div class="col_half nobottommargin">

        <p class="nobottommargin"><strong>Call:</strong> 1800-547-2145 | <strong>Email:</strong> info@canvas.com</p>

      </div>

      <div class="col_half col_last fright nobottommargin">

        <!-- Top Links
        ============================================= -->
        <div class="top-links">
          <ul>
            <li><a href="#">USD</a>
              <ul>
                <li><a href="#">EUR</a></li>
                <li><a href="#">AUD</a></li>
                <li><a href="#">GBP</a></li>
              </ul>
            </li>
            <li><a href="#">{{esAuthService.getLang()}}</a>
              <ul>
                <li><a href="#" (click)="esAuthService.changeLang('es')"><img src="{{templatePath}}/images/icons/flags/spanish.png" alt="French"> ES</a></li>
                <li><a href="#" (click)="esAuthService.changeLang('en')"><img src="{{templatePath}}/images/icons/flags/english.png" alt="Italian"> EN</a></li>
                <li><a href="#" (click)="esAuthService.changeLang('fr')"><img src="{{templatePath}}/images/icons/flags/french.png" alt="German"> FR</a></li>
              </ul>
            </li>
            <li *ngIf="!esAuthService.isAuthenticated()"><a routerLink="/login">Login</a>
              <div class="top-link-section">
                <form id="top-login" role="form" [formGroup]="venderLoginForm" (ngSubmit)="esAuthService.login(venderLoginForm)">
                  <div class="input-group" id="top-login-username">
                    <span class="input-group-addon"><i class="icon-user"></i></span>
                    <input type="email" [(ngModel)]="venderUser.usr_username" formControlName="usr_username" class="form-control" placeholder="Email address" required="">
                    <div *ngIf="esAuthService.isSubmitted && f.usr_username.errors" class="errormsg">
                      <div *ngIf="f.usr_username.errors.required">Please introduce your username</div>
                    </div>
                  </div>
                  <div class="input-group" id="top-login-password">
                    <span class="input-group-addon"><i class="icon-key"></i></span>
                    <input type="password" [(ngModel)]="venderUser.usr_password" formControlName="usr_password" class="form-control" placeholder="Password" required="">
                    <div *ngIf="esAuthService.isSubmitted && f.usr_password.errors" class="errormsg">
                      <div *ngIf="f.usr_password.errors.required">Please introduce your password</div>
                    </div>
                  </div>
                  <label class="checkbox">
                    <input type="checkbox" value="remember-me"> Remember me
                  </label>
                  <button class="btn btn-danger btn-block" type="submit">Log in</button>
                  <a routerLink="/signup" class="btn btn-danger btn-block"> Sign up</a>
                </form>
              </div>
            </li>
            <li *ngIf="esAuthService.isAuthenticated()"><a href="#">{{esAuthService.currentUser.usr_username}}</a>
              <ul>
                <li><a href="javascript:void(0)" (click)="esAuthService.logout()"><i class="icon-line2-logout"></i> Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- .top-links end -->

      </div>

    </div>

  </div><!-- #top-bar end -->
</ng-template>

