<ng-template #WidgetSocialIconsBgComponent>
  <div class="widget clearfix" style="margin-bottom: -20px;">

    <div class="row">

      <div class="col-md-6 clearfix bottommargin-sm">
        <a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
          <i class="icon-facebook"></i>
          <i class="icon-facebook"></i>
        </a>
        <a href="#"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
      </div>
      <div class="col-md-6 clearfix">
        <a href="#" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
          <i class="icon-rss"></i>
          <i class="icon-rss"></i>
        </a>
        <a href="#"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
      </div>

    </div>

  </div>
</ng-template>
