<h1>Canvas Template Links</h1>

<a href="{{basePath}}/front/about-one"><h3>about-one</h3></a>
<a href="{{basePath}}/front/about-two"><h3>about-two</h3></a>
<a href="{{basePath}}/front/shop-one"><h3>shop-one</h3></a>
<a href="{{basePath}}/front/shop-index-one"><h3>shop-index-one</h3></a>
<a href="{{basePath}}/front/shop-index-two"><h3>shop-index-two</h3></a>
<a href="{{basePath}}/front/login-one"><h3>login-one</h3></a>
<a href="{{basePath}}/front/login-two"><h3>login-two</h3></a>
<a href="{{basePath}}/front/login-register-one"><h3>login-register-one</h3></a>
<a href="{{basePath}}/front/login-register-two"><h3>login-register-two</h3></a>
<a href="{{basePath}}/front/login-register-three"><h3>login-register-three</h3></a>
<a href="{{basePath}}/front/cart"><h3>cart</h3></a>
<a href="{{basePath}}/front/contact-one"><h3>contact-one</h3></a>
<a href="{{basePath}}/front/contact-two"><h3>contact-two</h3></a>
<a href="{{basePath}}/front/contact-three"><h3>contact-three</h3></a>
<a href="{{basePath}}/front/maintenance"><h3>maintenance</h3></a>
<a href="{{basePath}}/front/not-found-one"><h3>not-found-one</h3></a>
<a href="{{basePath}}/front/not-found-two"><h3>not-found-two</h3></a>
<a href="{{basePath}}/front/not-found-three"><h3>not-found-three</h3></a>
<a href="{{basePath}}/front/shop-category-parallax"><h3>shop-category-parallax</h3></a>
<a href="{{basePath}}/front/shop-menu-four"><h3>shop-menu-four</h3></a>
<a href="{{basePath}}/front/shop-menu-one"><h3>shop-menu-one</h3></a>
<a href="{{basePath}}/front/shop-menu-one-both-side"><h3>shop-menu-one-both-side</h3></a>
<a href="{{basePath}}/front/shop-menu-one-left-side"><h3>shop-menu-one-left-side</h3></a>
<a href="{{basePath}}/front/shop-menu-one-right-side"><h3>shop-menu-one-right-side</h3></a>
<a href="{{basePath}}/front/shop-menu-three"><h3>shop-menu-three</h3></a>
<a href="{{basePath}}/front/shop-menu-three-left-side"><h3>shop-menu-three-left-side</h3></a>
<a href="{{basePath}}/front/shop-menu-three-right-side"><h3>shop-menu-three-right-side</h3></a>
<a href="{{basePath}}/front/shop-menu-two-both-side"><h3>shop-menu-two-both-side</h3></a>
<a href="{{basePath}}/front/shop-menu-two-left-side"><h3>shop-menu-two-left-side</h3></a>
<a href="{{basePath}}/front/shop-menu-two-right-side"><h3>shop-menu-two-right-side</h3></a>
<a href="{{basePath}}/front/shop-single"><h3>shop-single</h3></a>
<a href="{{basePath}}/front/shop-single-both-side"><h3>shop-single-both-side</h3></a>
<a href="{{basePath}}/front/shop-single-custom-linking"><h3>shop-single-custom-linking</h3></a>
<a href="{{basePath}}/front/shop-single-left-side"><h3>shop-single-left-side</h3></a>
<a href="{{basePath}}/front/shop-single-right-side"><h3>shop-single-right-side</h3></a>
<a href="{{basePath}}/front/portafolio-thgree-left-side"><h3>portafolio-thgree-left-side</h3></a>
<a href="{{basePath}}/front/portafolio-three"><h3>portafolio-three</h3></a>
